{% extends 'event/index.html' %}
{% load static %}

{% block content %}

{% static 'event/images/a3.jpg' as default_url %}

<div class="app-body light" id="view">

<!-- ############ PAGE START-->
<div class="page-content">
  <div class="row-col">
    <div class="col-lg-9 b-r no-border-md">
      <div class="padding">


        <div class="page-title m-b">
          <h2 class="inline m-a-0">Artists</h2>
          <div class="dropdown inline">
            <button id="artist_button" class="btn btn-sm no-bg h4 m-y-0 v-b dropdown-toggle text-primary" data-toggle="dropdown">By name</button>
            <div id="artist_sort" class="dropdown-menu">
              <a id="by_name" class="dropdown-item active">
                By name
              </a>
              <a id="by_events" class="dropdown-item">
                Events
              </a>
            </div>
          </div>
        </div>
        {% if artists %}
        <div id="by_name" class="row row-lg">
          {% for artist in artists %}
            <div id="artist_{{ artist.id }}" class="col-xs-4 col-sm-4 col-md-3">
              <div class="item">
              <div class="item-media rounded ">
                <a href="{% url 'event:artist_detail' artist.id %}" class="item-media-content" style="background-image: url({{ artist.thumb_url|default:default_url }});"></a>
              </div>
              <div class="item-info text-center">
                <div class="item-title text-ellipsis">
                  <a href="{% url 'event:artist_detail' artist.id %}">{{artist.name}}</a>
                  <div class="text-sm text-muted">
                    {% if artist.events.count %}
                      {{ artist.events.count }} event{{ artist.events.count|pluralize:"s" }}
                    {% else %}
                      No upcoming events
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
        <div id="by_events" class="row row-lg modal">
          {% for artist in artists|dictsortreversed:"events.count" %}
            <div id="artist_{{ artist.id }}" class="col-xs-4 col-sm-4 col-md-3">
              <div class="item">
              <div class="item-media rounded ">
                <a href="{% url 'event:artist_detail' artist.id %}" class="item-media-content" style="background-image: url({{ artist.thumb_url|default:default_url }});"></a>
              </div>
              <div class="item-info text-center">
                <div class="item-title text-ellipsis">
                  <a href="{% url 'event:artist_detail' artist.id %}">{{artist.name}}</a>
                  <div class="text-sm text-muted">
                    {% if artist.events.count %}
                      {{ artist.events.count }} event{{ artist.events.count|pluralize:"s" }}
                    {% else %}
                      No upcoming events
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
        {% else %}
          <div class="col-xs-12">
            No artists
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
</div>

{% endblock content %}
