{% extends 'event/index.html' %}
{% load static %}

{% block content %}

<div class="app-body light" id="view">

<!-- ############ PAGE START-->
<div class="pos-rlt">
  <div class="page-bg" data-stellar-ratio="2" style="background-image:url('{% if artist.image_url %}{{ artist.image_url }}{% else %}{% static 'event/images/a3.jpg' %}{% endif %}');"></div>
</div>
<div class="page-content">
  <div class="padding b-b">
    <div class="row-col">
        <div class="col-sm w w-auto-xs m-b">
          <div class="item w rounded">
            <div class="item-media">
              <div class="item-media-content" style="background-image: url('{% if artist.thumb_url %}{{ artist.thumb_url }}{% else %}{% static 'event/images/a3.jpg' %}{% endif %}');"></div>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="p-l-md no-padding-xs">
            <div class="page-title">
              <h1 class="inline">{{ artist.name }}</h1>
              <label class="fa fa-star text-primary text-lg m-b v-m m-l-xs" title="Pro"></label>
            </div>
            <div class="item-action m-b">
              <a class="btn btn-icon white rounded btn-share pull-right" data-toggle="modal" data-target="#share-modal"><i class="fa fa-share-alt"></i></a>
              <span>
                {% if upcoming_events.count %}
                  {{ upcoming_events.count }}
                  {% if upcoming_events.count == 1 %}
                    upcoming event
                  {% else %}
                    upcoming events
                  {% endif %}
                {% else %}
                  No upcoming events
                {% endif %}
              </span>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="row-col">
    <div class="col-lg-9 b-r no-border-md">
      <div class="padding">
        <div class="nav-active-border b-primary bottom m-b-md">
          <ul class="nav l-h-2x">
            <li class="nav-item m-r inline">
              <a class="nav-link active" href="#" data-toggle="tab" data-target="#tab_1">Overview</a>
            </li>
            <li class="nav-item m-r inline">
              <a class="nav-link" href="#" data-toggle="tab" data-target="#tab_2">Upcoming</a>
            </li>
            <li class="nav-item m-r inline">
              <a class="nav-link" href="#" data-toggle="tab" data-target="#tab_3">All</a>
            </li>
            <li class="nav-item m-r inline">
              <a class="nav-link" href="#" data-toggle="tab" data-target="#tab_4">Profile</a>
            </li>
          </ul>
        </div>
        <div class="tab-content">
          <div class="tab-pane active" id="tab_1">
            <h5 class="m-b">Upcoming events</h5>
            {% if upcoming_events %}
              <div class="row item-list item-list-md item-list-li m-b" id="upcoming_events">
                {% for upcoming_event in upcoming_events|slice:":4" %}
                  <div class="col-md-12 col-lg-6">
                    <div class="item r" data-id="item-2">
                      <div class="item-media ">
                        <a href="event.detail.html" class="item-media-content" style="background-image: url('{% if artist.thumb_url %}{{ artist.thumb_url }}{% else %}{% static 'event/images/a3.jpg' %}{% endif %}');"></a>
                      </div>
                      <div class="item-info">
                        <div class="item-overlay bottom text-right">
                          <a href="#" class="btn-favorite"><i class="fa fa-star-o"></i></a>
                          <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                          <div class="dropdown-menu pull-right black lt"></div>
                        </div>
                        <h6><a href="event.detail.html">{{ upcoming_event.datetime|date:"l, d M Y – g:i A" }}</a></h6>
                        <div class="item-title text-ellipsis">
                          <a href="event.detail.html">{{ upcoming_event.title }} @ {{ upcoming_event.venue.name }}, {{ upcoming_event.venue.city }}, {{ upcoming_event.venue.country }}</a>
                        </div>
                        <div class="item-author text-sm text-ellipsis hide">
                          <a href="artist.detail.html" class="text-muted">{{ artist.name }}</a>
                        </div>
                        <div class="item-meta text-sm text-muted">
                          <span class="item-meta-stats text-xs  item-meta-right">
                            <i class="fa fa-star m-l-sm text-muted"></i> 10
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
          {% else %}
            <div class="item-list item-list-md item-list-li m-b" id="upcoming_events">
              No upcoming events
            </div>
          {% endif %}
          <h5 class="m-b">Past events</h5>
          {% if past_events %}
            <div class="row item-list item-list-md item-list-li m-b" id="past_events">
              {% for past_event in past_events|slice:":4" %}
                <div class="col-md-12 col-lg-6">
                  <div class="item r" data-id="item-2">
                    <div class="item-media">
                      <a href="event.detail.html" class="item-media-content" style="background-image: url('{% if artist.thumb_url %}{{ artist.thumb_url }}{% else %}{% static 'event/images/a3.jpg' %}{% endif %}');"></a>
                    </div>
                    <div class="item-info">
                      <div class="item-overlay bottom text-right">
                        <a href="#" class="btn-favorite"><i class="fa fa-star-o"></i></a>
                        <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                        <div class="dropdown-menu pull-right black lt"></div>
                      </div>
                      <h6><a href="event.detail.html">{{ past_event.datetime|date:"l, d M Y – g:i A" }}</a></h6>
                      <div class="item-title text-ellipsis">
                        <a href="event.detail.html">{{ past_event.title }} @ {{ past_event.venue.name }}, {{ past_event.venue.city }}, {{ past_event.venue.country }}</a>
                      </div>
                      <div class="item-author text-sm text-ellipsis hide">
                        <a href="artist.detail.html" class="text-muted">{{ artist.name }}</a>
                      </div>
                      <div class="item-meta text-sm text-muted">
                        <span class="item-meta-stats text-xs  item-meta-right">
                          <i class="fa fa-star m-l-sm text-muted"></i> 10
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          {% else %}
            <div class="item-list item-list-md item-list-li m-b" id="past_events">
              No past events
            </div>
          {% endif %}
        </div>
        <div class="tab-pane" id="tab_2">
          <div class="page-title m-b">
            <h5 class="inline m-a-0">Upcoming</h5>
            <div class="dropdown inline">
              <button class="btn btn-sm no-bg h5 m-y-0 v-b dropdown-toggle text-primary" data-toggle="dropdown">Last week</button>
              <div class="dropdown-menu">
                <a href="#" class="dropdown-item active">
                  Last week
                </a>
                <a href="#" class="dropdown-item">
                  Last month
                </a>
                <a href="#" class="dropdown-item">
                  Last year
                </a>
                <a href="#" class="dropdown-item">
                  All the time
                </a>
              </div>
            </div>
          </div>
          {% if upcoming_events %}
              <div class="row item-list item-list-md item-list-li m-b">
                {% for upcoming_event in upcoming_events %}
                  <div class="col-xs-12">
                    <div class="item r" data-id="item-12">
                    <div class="item-media ">
                      <a href="event.detail.html" class="item-media-content" style="background-image: url('{% if artist.thumb_url %}{{ artist.thumb_url }}{% else %}{% static 'event/images/a3.jpg' %}{% endif %}');"></a>
                    </div>
                    <div class="item-info">
                      <div class="item-overlay bottom text-right">
                        <a href="#" class="btn-favorite"><i class="fa fa-star-o"></i></a>
                        <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                        <div class="dropdown-menu pull-right black lt"></div>
                      </div>
                      <h6><a href="event.detail.html">{{ upcoming_event.datetime|date:"l, d M Y – g:i A" }}</a></h6>
                      <div class="item-title text-ellipsis">
                        <a href="event.detail.html">{{ upcoming_event.title }} @ {{ upcoming_event.venue.name }}, {{ upcoming_event.venue.city }}, {{ upcoming_event.venue.country }}</a>
                      </div>
                      <div class="item-meta text-sm text-muted">
                        <span class="item-meta-stats text-xs  item-meta-right">
                          <i class="fa fa-play text-muted"></i> 860
                          <i class="fa fa-star m-l-sm text-muted"></i> 240
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          {% else %}
            <div class="col-xs-12">
              No upcoming events
            </div>
          {% endif %}
        </div>
        <div class="tab-pane" id="tab_3">
          <div class="page-title m-b">
            <h5 class="inline m-a-0">All</h5>
            <div class="dropdown inline">
              <button class="btn btn-sm no-bg h5 m-y-0 v-b dropdown-toggle text-primary" data-toggle="dropdown">Last week</button>
              <div class="dropdown-menu">
                <a href="#" class="dropdown-item active">
                  Last week
                </a>
                <a href="#" class="dropdown-item">
                  Last month
                </a>
                <a href="#" class="dropdown-item">
                  Last year
                </a>
                <a href="#" class="dropdown-item">
                  All the time
                </a>
              </div>
            </div>
          </div>
          {% if artist.events.all %}
              <div class="row item-list item-list-md item-list-li m-b">
                {% for event in artist.events.all %}
                  <div class="col-xs-12">
                    <div class="item r" data-id="item-12">
                    <div class="item-media ">
                      <a href="event.detail.html" class="item-media-content" style="background-image: url('{% if artist.thumb_url %}{{ artist.thumb_url }}{% else %}{% static 'event/images/a3.jpg' %}{% endif %}');"></a>
                    </div>
                    <div class="item-info">
                      <div class="item-overlay bottom text-right">
                        <a href="#" class="btn-favorite"><i class="fa fa-star-o"></i></a>
                        <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                        <div class="dropdown-menu pull-right black lt"></div>
                      </div>
                      <h6><a href="event.detail.html">{{ event.datetime|date:"l, d M Y – g:i A" }}</a></h6>
                      <div class="item-title text-ellipsis">
                        <a href="event.detail.html">{{ event.title }} @ {{ event.venue.name }}, {{ event.venue.city }}, {{ event.venue.country }}</a>
                      </div>
                      <div class="item-meta text-sm text-muted">
                        <span class="item-meta-stats text-xs  item-meta-right">
                          <i class="fa fa-play text-muted"></i> 860
                          <i class="fa fa-star m-l-sm text-muted"></i> 240
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          {% else %}
            <div class="col-xs-12">
              No events
            </div>
          {% endif %}
        </div>
        <div class="tab-pane" id="tab_4">
          <div class="row-col m-b">
            <div class="col-xs w-xs text-muted">Location</div>
            <div class="col-xs">UK</div>
          </div>
          <div class="row-col m-b">
            <div class="col-xs w-xs text-muted">Website</div>
            <div class="col-xs"><a href="https://www.entershikari.com/">https://www.entershikari.com/</a></div>
          </div>
          <div class="row-col m-b">
            <div class="col-xs w-xs text-muted"></div>
            <div class="col-xs">
                <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                  <i class="fa fa-facebook"></i>
                  <i class="fa fa-facebook indigo"></i>
                </a>
                <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                  <i class="fa fa-twitter"></i>
                  <i class="fa fa-twitter light-blue"></i>
                </a>
                <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                  <i class="fa fa-google-plus"></i>
                  <i class="fa fa-google-plus red"></i>
                </a>
            </div>
          </div>
        </div>
      </div>
{% endblock content %}
