{% extends 'event/index.html' %}
{% load static %}

{% block content %}

{% static 'event/images/a3.jpg' as default_url %}

<div class="app-body light" id="view">

<!-- ############ PAGE START-->
<div class="pos-rlt">
  <div class="page-bg" data-stellar-ratio="2" style="background-image:url({{ artist.image_url|default:default_url }});"></div>
</div>
<div class="page-content">
  <div class="padding b-b">
    <div class="row-col">
        <div class="col-sm w w-auto-xs m-b">
          <div class="item w rounded">
            <div class="item-media">
              <div class="item-media-content" style="background-image: url({{ artist.thumb_url|default:default_url }});"></div>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="p-l-md no-padding-xs">
            <div class="page-title">
              <h2 class="inline">{{ artist.name }}</h2>
              <a class="btn-favorite text-primary text-lg m-l-xs" {% if user.is_authenticated.value %}data-id="artist_{{ artist.id }}" data-url="{% url 'event:artist_bookmark' artist.id %}" {% else %}data-toggle="modal" data-target="#sign-modal"{% endif %}>
                <i class="fa {% if artist in user.artists.all %}fa-star{% else %}fa-star-o{% endif %}"></i>
              </a>
            </div>
            <div class="item-action m-b">
              <span>
                {% if upcoming_events.all.count %}
                  <i class="material-icons md-24">event_note</i>
                  {{ upcoming_events.all.count }} upcoming event{{ upcoming_events.all.count|pluralize:"s" }}
                {% else %}
                  No upcoming events
                {% endif %}
              </span>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="row-col">
    <div class="col-lg-9 b-r no-border-md">
      <div class="padding">
        <div class="nav-active-border b-primary bottom m-b-md">
          <ul class="nav l-h-2x">
            <li class="nav-item m-r inline">
              <a class="nav-link active" href="#" data-toggle="tab" data-target="#tab_1">Overview</a>
            </li>
            <li class="nav-item m-r inline">
              <a class="nav-link" href="#" data-toggle="tab" data-target="#tab_2">Upcoming</a>
            </li>
            <li class="nav-item m-r inline">
              <a class="nav-link" href="#" data-toggle="tab" data-target="#tab_3">Past</a>
            </li>
          </ul>
        </div>
        <div class="tab-content">
          <div class="tab-pane active" id="tab_1">
            <h5 class="m-b">Upcoming events</h5>
            {% if upcoming_events.all %}
              <div class="row item-list item-list-md item-list-li-by m-b" id="upcoming_events">
                {% for upcoming_event in upcoming_events.all|slice:":4" %}
                  <div id="event_{{ upcoming_event.id }}" class="col-md-12 col-lg-6">
                    <div class="item r" data-id="item-2">
                      <div class="item-media ">
                        <a href="{% url 'event:event_detail' upcoming_event.id %}" class="item-media-content" style="background-image: url({{ artist.thumb_url|default:default_url }});"></a>
                      </div>
                      <div class="item-info">
                        <div class="item-overlay bottom text-right">
                          <a class="btn-favorite" {% if user.is_authenticated.value %}data-id="event_{{ upcoming_event.id }}" data-url="{% url 'event:event_bookmark' upcoming_event.id %}"{% else %}data-toggle="modal" data-target="#sign-modal"{% endif %}><i class="fa {% if upcoming_event in user.events.all %}fa-star{% else %}fa-star-o{% endif %}"></i></a>
                        </div>
                        <div class="item-title text-ellipsis">
                          <a href="{% url 'event:event_detail' upcoming_event.id %}">{{ upcoming_event.title }} @ {{ upcoming_event.venue.name }}, {{ upcoming_event.venue.city }}, {{ upcoming_event.venue.country }}</a>
                        </div>
                        <div class="item-author text-sm text-ellipsis ">
                          <a href="{% url 'event:event_detail' upcoming_event.id %}" class="text-muted">{{ upcoming_event.datetime|date:"l, d M Y – g:i A" }}</a>
                        </div>
                        <div class="item-author text-sm text-ellipsis hide">
                          <a href="{% url 'event:artist_detail' artist.id %}" class="text-muted">{{ artist.name }}</a>
                        </div>
                        <div class="item-meta text-sm text-muted">
                          <span class="item-meta-stats text-xs  item-meta-right">
                            {% if upcoming_event.users.count %}<i class="fa fa-star m-l-sm text-muted"></i> {{ upcoming_event.users.count }}{% endif %}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
          {% else %}
            <div class="item-list item-list-md item-list-li-by m-b" id="upcoming_events">
              No upcoming events
            </div>
          {% endif %}
          <h5 class="m-b">Past events</h5>
          {% if past_events.all %}
            <div class="row item-list item-list-md item-list-li-by m-b" id="past_events">
              {% for past_event in past_events.all|slice:":4" %}
                <div id="event_{{ past_event.id }}" class="col-md-12 col-lg-6">
                  <div class="item r" data-id="item-2">
                    <div class="item-media">
                      <a href="{% url 'event:event_detail' past_event.id %}" class="item-media-content" style="background-image: url({{ artist.thumb_url|default:default_url }});"></a>
                    </div>
                    <div class="item-info">
                      <div class="item-overlay bottom text-right">
                        <a class="btn-favorite" {% if user.is_authenticated.value %}data-id="event_{{ past_event.id }}"  data-url="{% url 'event:event_bookmark' past_event.id %}" {% else %}data-toggle="modal" data-target="#sign-modal"{% endif %}><i class="fa {% if past_event in user.events.all %}fa-star{% else %}fa-star-o{% endif %}"></i></a>
                      </div>
                      <div class="item-title text-ellipsis">
                        <a href="{% url 'event:event_detail' past_event.id %}">{{ past_event.title }} @ {{ past_event.venue.name }}, {{ past_event.venue.city }}, {{ past_event.venue.country }}</a>
                      </div>
                      <div class="item-author text-sm text-ellipsis ">
                        <a href="{% url 'event:event_detail' past_event.id %}" class="text-muted">{{ past_event.datetime|date:"l, d M Y – g:i A" }}</a>
                      </div>
                      <div class="item-author text-sm text-ellipsis hide">
                        <a href="{% url 'event:artist_detail' artist.id %}" class="text-muted">{{ artist.name }}</a>
                      </div>
                      <div class="item-meta text-sm text-muted">
                        <span class="item-meta-stats text-xs  item-meta-right">
                          {% if past_event.users.count %}<i class="fa fa-star m-l-sm text-muted"></i> {{ past_event.users.count }}{% endif %}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          {% else %}
            <div class="item-list item-list-md item-list-li-by m-b" id="past_events">
              No past events
            </div>
          {% endif %}
        </div>
        <div class="tab-pane" id="tab_2">
          <div class="page-title m-b">
            <h5 class="inline m-a-0">Upcoming</h5>
            <div class="dropdown inline">
              <button id="event_button" class="btn btn-sm no-bg h5 m-y-0 v-b dropdown-toggle text-primary" data-toggle="dropdown">All the time</button>
              <div id="event_sort" class="dropdown-menu">
                <a id="week" class="dropdown-item">
                  This week
                </a>
                <a id="month" class="dropdown-item">
                  This month
                </a>
                <a id="year" class="dropdown-item">
                  This year
                </a>
                <a id="all" class="dropdown-item active">
                  All the time
                </a>
              </div>
            </div>
          </div>
          {% if upcoming_events.items %}
            <div class="row item-list item-list-md item-list-li-by m-b">
              {% for key, upcoming_events in upcoming_events.items %}
              <div id="{{ key }}" {% if key in 'week, month, year' %}class="modal"{% endif %}>
              {% if upcoming_events %}
                {% for upcoming_event in upcoming_events %}
                  <div id="event_{{ upcoming_event.id }}" class="col-xs-12">
                    <div class="item r" data-id="item-12">
                    <div class="item-media ">
                      <a href="{% url 'event:event_detail' upcoming_event.id %}" class="item-media-content" style="background-image: url({{ artist.thumb_url|default:default_url }});"></a>
                    </div>
                    <div class="item-info">
                      <div class="item-overlay bottom text-right">
                        <a class="btn-favorite" {% if user.is_authenticated.value %}data-id="event_{{ upcoming_event.id }}"  data-url="{% url 'event:event_bookmark' upcoming_event.id %}" {% else %}data-toggle="modal" data-target="#sign-modal"{% endif %}><i class="fa {% if upcoming_event in user.events.all %}fa-star{% else %}fa-star-o{% endif %}"></i></a>
                      </div>
                      <div class="item-title text-ellipsis">
                        <a href="{% url 'event:event_detail' upcoming_event.id %}">{{ upcoming_event.title }} @ {{ upcoming_event.venue.name }}, {{ upcoming_event.venue.city }}, {{ upcoming_event.venue.country }}</a>
                      </div>
                      <div class="item-author text-sm text-ellipsis ">
                        <a href="{% url 'event:event_detail' upcoming_event.id %}" class="text-muted">{{ upcoming_event.datetime|date:"l, d M Y – g:i A" }}</a>
                      </div>
                      <div class="item-meta text-sm text-muted">
                        <span class="item-meta-stats text-xs  item-meta-right">
                          {% if upcoming_event.users.count %}<i class="fa fa-star text-muted"></i> {{ upcoming_event.users.count }}{% endif %}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              {% else  %}
                <div class="col-xs-12">
                  No upcoming events
                  {% if key in 'week, month, year' %}
                    this {{ key }}
                  {% endif %}
                </div>
              {% endif %}
              </div>
              {% endfor %}
            </div>
          {% else %}
            <div class="col-xs-12">
              No upcoming events
            </div>
          {% endif %}
        </div>
        <div class="tab-pane" id="tab_3">
          <div class="page-title m-b">
            <h5 class="inline m-a-0">Past</h5>
            <div class="dropdown inline">
              <button id="past_event_button" class="btn btn-sm no-bg h5 m-y-0 v-b dropdown-toggle text-primary" data-toggle="dropdown">All the time</button>
              <div id="past_event_sort" class="dropdown-menu">
                <a id="week" class="dropdown-item">
                  Last week
                </a>
                <a id="month" class="dropdown-item">
                  Last month
                </a>
                <a id="year" class="dropdown-item">
                  Last year
                </a>
                <a id="all" class="dropdown-item active">
                  All the time
                </a>
              </div>
            </div>
          </div>
          {% if past_events.items %}
              <div class="row item-list item-list-md item-list-li-by m-b">
              {% for key, past_events in past_events.items %}
              <div id="past_{{ key }}" {% if key in 'week, month, year' %}class="modal"{% endif %}>
              {% if past_events %}
                {% for past_event in past_events %}
                  <div id="event_{{ event.id }}" class="col-xs-12">
                    <div class="item r" data-id="item-12">
                    <div class="item-media ">
                      <a href="{% url 'event:event_detail' past_event.id %}" class="item-media-content" style="background-image: url({{ artist.thumb_url|default:default_url }});"></a>
                    </div>
                    <div class="item-info">
                      <div class="item-overlay bottom text-right">
                        <a class="btn-favorite" {% if user.is_authenticated.value %}data-id="event_{{ past_event.id }}" data-url="{% url 'event:event_bookmark' past_event.id %}" {% else %}data-toggle="modal" data-target="#sign-modal"{% endif %}><i class="fa {% if past_event in user.events.all %}fa-star{% else %}fa-star-o{% endif %}"></i></a>
                      </div>
                      <div class="item-title text-ellipsis">
                        <a href="{% url 'event:event_detail' past_event.id %}">{{ past_event.title }} @ {{ past_event.venue.name }}, {{ past_event.venue.city }}, {{ past_event.venue.country }}</a>
                      </div>
                      <div class="item-author text-sm text-ellipsis ">
                        <a href="{% url 'event:event_detail' past_event.id %}" class="text-muted">{{ past_event.datetime|date:"l, d M Y – g:i A" }}</a>
                      </div>
                      <div class="item-meta text-sm text-muted">
                        <span class="item-meta-stats text-xs  item-meta-right">
                          {% if past_event.users.count %}<i class="fa fa-star text-muted"></i> {{ past_event.users.count }}{% endif %}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              {% else  %}
                <div class="col-xs-12">
                  No past events
                  {% if key in 'week, month, year' %}
                    last {{ key }}
                  {% endif %}
                </div>
              {% endif %}
              </div>
              {% endfor %}
            </div>
          {% else %}
            <div class="col-xs-12">
              No events
            </div>
          {% endif %}
        </div>
      </div>
{% endblock content %}
