<div id="artist_{{ artist.id }}" class="col-xs-4 col-sm-4 col-md-3">
  <div class="item {% if not rounded %}r{% endif %}">
    <div class="item-media {% if rounded %}rounded{% endif %}">
      <a href="{% url 'event:artist_detail' artist.id %}" class="item-media-content" style="background-image: url({{ artist.thumb_url|default:default_url }});"></a>
    </div>
    <div class="item-info {% if rounded %}text-center{% endif %}">
      {% if not rounded %}
        <div class="item-overlay bottom text-right">
          <a class="btn-favorite" {% if user.is_authenticated.value %}data-id="artist_{{ artist.id }}" data-url="{% url 'event:artist_bookmark' artist.id %}" {% else %}data-toggle="modal" data-target="#sign-modal"{% endif %}><i class="fa {% if artist in user.artists.all %}fa-star{% else %}fa-star-o{% endif %}"></i></a>
        </div>
      {% endif %}
      <div class="item-title text-ellipsis">
        <a href="{% url 'event:artist_detail' artist.id %}">{{artist.name}}</a>
        {% if rounded %}
          <div class="text-sm text-muted">
            {% if artist.events.count %}
              {{ artist.events.count }} event{{ artist.events.count|pluralize:"s" }}
            {% else %}
              No upcoming events
            {% endif %}
          </div>
        {% endif %}
      </div>
      {% if not rounded %}
        <div class="item-meta text-sm text-muted">
          <span class="item-meta-stats text-xs ">
            {% if artist.users.count %}<i class="fa fa-star text-muted"></i> {{ artist.users.count }}{% else %}&nbsp{% endif %}
          </span>
        </div>
      {% endif %}
    </div>
  </div>
</div>