{% extends 'event/index.html' %}
{% load static %}

{% block content %}

{% static 'event/images/a3.jpg' as default_url %}

  <div class="app-body light" id="view">
    <!-- ############ PAGE START-->

    <div class="page-content">
      <div class="row-col">
        <div class="col-lg-9 b-r no-border-md">
          <div class="padding">

            <div class="page-title m-b">
              <h2 class="inline m-a-0">Events</h2>
            </div>
            <div class="row item-list item-list-md item-list-li-by m-b">
              {% if events %}
                {% for event in events %}
                  {% include "event/event_item.html" with event=event overview=False profile=False %}
                {% endfor %}
                {% else %}
                  <div class="col-xs-12">
                    No upcoming events
                  </div>
                {% endif %}
              </div>
              {% if is_paginated %}
                {% include "event/pagination.html" with page_obj=page_obj request=request %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
