{% extends 'event/index.html' %}
{% load static %}

{% block content %}

{% static 'event/images/a3.jpg' as default_url %}

<div class="app-body light" id="view">

<!-- ############ PAGE START-->
<div class="pos-rlt">
{% if event.artists.all %}
    {% for artist in event.artists.all %}
      {% if forloop.counter == 1 %}
        <div class="page-bg" data-stellar-ratio="2" style="background-image: url({{ artist.thumb_url|default:default_url }});"></div>
      {% endif %}
    {% endfor %}
{% endif %}
</div>
<div class="page-content">
<div class="padding b-b">
<div class="row-col">
    <div class="col-sm w w-auto-xs m-b">
      <div class="item w r">
        {% if event.artists.all %}
          {% for artist in event.artists.all %}
            {% if forloop.counter <= 1 %}
              <div class="item-media">
                <div class="item-media-content" style="background-image: url({{ artist.thumb_url|default:default_url }});"></div>
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
    <div id="event_{{ event.id }}" class="col-sm">
      <div class="p-l-md no-padding-xs">
        <div class="page-title">
          <h2 class="inline">{{ event.title }}</h2>
        </div>
        <div class="item-action m-b">
          <a class="btn btn-icon white rounded btn-share pull-right" data-toggle="modal" data-target="#share-modal"><i class="fa fa-share-alt"></i></a>
          <a class="btn btn-icon rounded btn-favorite" {% if user.is_authenticated.value %}data-id="event_{{ event.id }}" data-url="{% url 'event:event_bookmark' event.id %}"{% else %}data-toggle="modal" data-target="#sign-modal"{% endif %}><i class="fa {% if event in user.events.all %}fa-star{% else %}fa-star-o{% endif %}"></i></a>
          <span class="item-meta-stats text-muted">{% if event.users.count %} {{ event.users.count }}{% endif %}</span>
          <div class="inline dropdown m-l-xs">
            <a class="btn btn-icon rounded btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
            <div class="dropdown-menu pull-right black lt"></div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
<div class="row-col">
  <div class="col-lg-9 b-r no-border-md">
    <div class="padding">
        {% if event.artists.count == 1 %}
            {% for artist in event.artists.all %}
              {% if forloop.counter <= 1 %}
                <h6 class="m-b">
                  <span class="text-muted">by</span>
                  <a href="{% url 'event:artist_detail' artist.id %}" data-pjax class="item-author _600">{{ artist.name }}</a>
                  <span class="text-muted text-sm">–
                    {% if artist.events.count %}
                      {{ artist.events.count }} event{{ artist.events.count|pluralize:"s" }}
                    {% else %}
                      No events
                    {% endif %}
                  </span>
                </h6>
              {% endif %}
            {% endfor %}
        {% endif %}
        <h6 class="">Date</h6>
        <div class="col-xs-12">
          <div class="item-info">
            <div class="item-title text-ellipsis">
                <div class="col-xs-1 text-muted">
                  Date
                </div>
                <div class="offset-xs-1">
                  {{ event.datetime|date:"l, d M Y – g:i A" }}
                </div>
            </div>
          </div>
        </div>
        <h6>Venue</h6>
        <div class="col-xs-12">
          <div class="item-info">
            <div class="item-title text-ellipsis">
                <div class="col-xs-1 text-muted">Name</div>
                <div class="offset-xs-1">{{ event.venue.name }}</div>
            </div>
          </div>
        </div>
        <h6>Location</h6>
        <div class="col-xs-12 m-b">
          <div class="item-info">
            <div class="item-title text-ellipsis">
                <div class="col-xs-1 text-muted">City</div>
                <div class="offset-xs-1 m-b-sm">{{ event.venue.city }}</div>
                <div class="col-xs-1 text-muted">Country</div>
                <div class="offset-xs-1">{{ event.venue.country }}</div>
            </div>
          </div>
        </div>
        {% if event.artists.count > 1 %}
          <h6 class="m-b">Line-up ({{ event.artists.count }})</h6>
          <div class="row m-b">
              {% for artist in event.artists.all %}
                <div id="artist_{{ artist.id }}" class="col-xs-4 col-sm-4 col-md-3">
                  <div class="item r" data-id="item-7">
                  <div class="item-media ">
                    <a href="{% url 'event:artist_detail' artist.id %}" class="item-media-content" style="background-image: url({{ artist.thumb_url|default:default_url }});"></a>
                  </div>
                  <div class="item-info">
                    <div class="item-overlay bottom text-right">
                      <a class="btn-favorite" {% if user.is_authenticated.value %}data-id="artist_{{ artist.id }}" data-url="{% url 'event:artist_bookmark' artist.id %}" {% else %}data-toggle="modal" data-target="#sign-modal"{% endif %}><i class="fa {% if artist in user.artists.all %}fa-star{% else %}fa-star-o{% endif %}"></i></a>
                      <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                      <div class="dropdown-menu pull-right black lt"></div>
                    </div>
                    <div class="item-title text-ellipsis">
                      <a href="{% url 'event:artist_detail' artist.id %}">{{ artist.name }}</a>
                    </div>
                    <div class="item-author text-sm text-ellipsis hide">
                      <a href="{% url 'event:artist_detail' artist.id %}" class="text-muted">{{ artist.name }}</a>
                    </div>
                    <div class="item-meta text-sm text-muted">
                      <span class="item-meta-stats text-xs ">
                        {% if artist.users.count %}<i class="fa fa-star text-muted"></i> {{ artist.users.count }}{% else %}&nbsp{% endif %}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
{% endblock content %}
