{% extends 'event/index.html' %}
{% load static %}

{% block content %}

{% static 'event/images/a3.jpg' as default_url %}

  <div class="app-body light" id="view">
    <!-- ############ PAGE START-->

    <div class="page-content">
      <div class="row-col">
        <div class="col-lg-9 b-r no-border-md">
          <div class="padding">

            <div class="page-title m-b">
              <h2 class="inline m-a-0">Events</h2>
              <div class="dropdown inline">
                <button id="event_button" class="btn btn-sm no-bg h5 m-y-0 v-b dropdown-toggle text-primary" data-toggle="dropdown">All the time</button>
                <div id="event_sort" class="dropdown-menu">
                  <a id="week" class="dropdown-item">
                    This week
                  </a>
                  <a id="month" class="dropdown-item">
                    This month
                  </a>
                  <a id="year" class="dropdown-item">
                    This year
                  </a>
                  <a id="all" class="dropdown-item active">
                    All the time
                  </a>
                </div>
              </div>
            </div>
            <div class="row item-list item-list-md item-list-li m-b">
              {% if events.items %}
                {% for key, events in events.items %}
                  <div id="{{ key }}" {% if key in 'week, month, year' %}class="modal"{% endif %}>
                  {% if events %}
                    {% for event in events %}
                      <div id="event_{{ event.id }}" class="col-xs-12">
                        <div class="item r" data-id="item-12">
                          {% if event.artists.all %}
                              {% for artist in event.artists.all %}
                                {% if forloop.counter <= 5 %}
                                  <div class="item-media ">
                                    <a href="{% url 'event:event_detail' event.id %}" class="item-media-content" style="background-image: url('{{ artist.thumb_url }}');"></a>
                                  </div>
                                {% endif %}
                              {% endfor %}
                          {% else %}
                            <div class="item-media ">
                              <a href="{% url 'event:event_detail' event.id %}" class="item-media-content" style="background-image: url({{ default_url }});"></a>
                            </div>
                          {% endif %}
                            <div class="item-info">
                              <div class="item-overlay bottom text-right">
                                <a class="btn-favorite" {% if user.is_authenticated.value %}data-id="event_{{ event.id }}" data-url="{% url 'event:event_bookmark' event.id %}" {% else %}data-toggle="modal" data-target="#sign-modal"{% endif %}><i class="fa {% if event in user.events.all %}fa-star{% else %}fa-star-o{% endif %}"></i></a>
                                <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                                <div class="dropdown-menu pull-right black lt"></div>
                              </div>
                              <div class="item-title text-ellipsis">
                                <a href="{% url 'event:event_detail' event.id %}">{{ event.title }} @ {{ event.venue.name }}, {{ event.venue.city }}, {{ event.venue.country }}</a>
                              </div>
                              <div class="item-author text-sm text-ellipsis ">
                                <a href="{% url 'event:event_detail' event.id %}" class="text-muted">{{ event.datetime|date:"l, d M Y – g:i A" }}</a>
                              </div>
                              <div class="item-meta text-sm text-muted">
                                <span class="item-meta-stats text-xs  item-meta-right">
                                  {% if event.users.count %}<i class="fa fa-star text-muted"></i>
                                      {{ event.users.count }}{% endif %}
                                </span>
                              </div>
                            </div>
                        </div>
                      </div>
                    {% endfor %}
                    {% else %}
                      <div class="col-xs-12">
                        No upcoming events
                        {% if key in 'week, month, year' %}
                          this {{ key }}
                        {% endif %}
                      </div>
                    {% endif %}
                  </div>
                  {% endfor %}
                {% else %}
                  <div class="col-xs-12">
                    No upcoming events
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
