{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Eventrack – Track Upcoming Live Concerts, Tour Dates and Festivals</title>
  <meta name="description" content="Artist, Event, Festivals, Live Concerts, Music, Musician, Tour Dates, Venue" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- for ios 7 style, multi-resolution icon of 152x152 -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
  <link rel="apple-touch-icon" href="{% static 'event/images/icon.png' %}">
  <meta name="apple-mobile-web-app-title" content="Flatkit">
  <!-- for Chrome on Android, multi-resolution icon of 196x196 -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="shortcut icon" sizes="96x96" href="{% static 'event/images/icon.png' %}">

  <!-- style -->
  <link rel="stylesheet" href="{% static 'event/css/animate.css/animate.min.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'event/css/glyphicons/glyphicons.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'event/css/font-awesome/css/font-awesome.min.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'event/css/material-design-icons/material-design-icons.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'event/css/bootstrap/dist/css/bootstrap.min.css' %}" type="text/css" />

  <!-- build:css css/styles/app.min.css -->
  <link rel="stylesheet" href="{% static 'event/css/styles/app.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'event/css/styles/style.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'event/css/styles/font.css' %}" type="text/css" />

  <!-- endbuild -->
</head>
<body>
  <div class="app dk" id="app">

<!-- ############ LAYOUT START-->

  <!-- aside -->
  <div id="aside" class="app-aside modal fade nav-dropdown">
    <!-- fluid app aside -->
    <div class="left navside white dk" data-layout="column">
      <div class="navbar no-radius">
        <!-- brand -->
        <a href="{% url 'event:index' %}" class="navbar-brand md ">
        	<img src="{% static 'event/images/logo.png' %}" alt=".">
        </a>
        <!-- / brand -->
      </div>
      <div data-flex class="hide-scroll">
          <nav class="scroll nav-stacked nav-active-primary">

            <ul class="nav" data-ui-nav>
              <li class="nav-header hidden-folded">
                <span class="text-xs text-muted">Main</span>
              </li>
              <li>
                <a href="{% url 'event:index' %}">
                  <span class="nav-icon">
                    <i class="material-icons">
                      home
                    </i>
                  </span>
                  <span class="nav-text">Home</span>
                </a>
              </li>
              <li>
                <a href="{% url 'event:artist' %}">
                  <span class="nav-icon">
                    <i class="material-icons">
                      account_box
                    </i>
                  </span>
                  <span class="nav-text">Artist</span>
                </a>
              </li>
              <li>
                <a href="{% url 'event:event' %}">
                  <span class="nav-icon">
                    <i class="material-icons">
                      event_note
                    </i>
                  </span>
                  <span class="nav-text">Event</span>
                </a>
              </li>
              <li>
                <a href="{% url 'event:venue' %}">
                  <span class="nav-icon">
                    <i class="material-icons">
                      place
                    </i>
                  </span>
                  <span class="nav-text">Venue</span>
                </a>
              </li>
              <li>
                <a data-toggle="modal" data-target="#search-modal">
                  <span class="nav-icon">
                    <i class="material-icons">
                      search
                    </i>
                  </span>
                  <span class="nav-text">Search</span>
                </a>
              </li>

              {% if user.is_authenticated.value %}
              <li class="nav-header hidden-folded m-t">
                <span class="text-xs text-muted">Profile</span>
              </li>
              <li>
                <a href="{% url 'user:profile' %}">
                  <span class="nav-label">
                    <b class="label">8</b>
                  </span>
                  <span class="nav-icon">
                    <i class="material-icons">
                      event_available
                    </i>
                  </span>
                  <span class="nav-text">Events</span>
                </a>
              </li>
              <li>
                <a href="{% url 'user:profile' %}">
                  <span class="nav-icon">
                    <i class="material-icons">
                      recent_actors
                    </i>
                  </span>
                  <span class="nav-text">Artists</span>
                </a>
              </li>
              <li>
                <a href="{% url 'user:profile' %}">
                  <span class="nav-icon">
                    <i class="material-icons">
                      place
                    </i>
                  </span>
                  <span class="nav-text">Venues</span>
                </a>
              </li>
              <li>
                <a href="{% url 'user:profile' %}">
                  <span class="nav-icon">
                    <i class="material-icons">
                      star
                    </i>
                  </span>
                  <span class="nav-text">Bookmarks</span>
                </a>
              </li>
              {% endif %}
            </ul>
          </nav>
      </div>
      {% if user.is_authenticated.value %}
        <div data-flex-no-shrink>
          <div class="nav-fold dropup">
            <a data-toggle="dropdown">
                <span class="pull-left">
                  <i class="material-icons md-36">account_circle</i>
                </span>
                <span class="clear hidden-folded p-x p-y-xs">
                  <span class="block _600 text-ellipsis">
                    {% if user.first_name and user.last_name %}
                      {{ user.first_name }} {{ user.last_name }}
                    {% else %}
                      {{ user.username }}
                    {% endif %}
                  </span>
                </span>
            </a>
            <div class="dropdown-menu w dropdown-menu-scale ">
              <a class="dropdown-item" href="{% url 'user:profile' %}">
                <span>Profile</span>
              </a>
              <a class="dropdown-item" href="{% url 'user:profile' %}">
                <span>Events</span>
              </a>
              <a class="dropdown-item" href="{% url 'user:profile' %}">
                <span>Artists</span>
              </a>
              <a class="dropdown-item" href="{% url 'user:profile' %}">
                <span>Venues</span>
              </a>
              <a class="dropdown-item" href="{% url 'user:profile' %}">
                <span>Bookmarks</span>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="docs.html">
                Need help?
              </a>
              <a class="dropdown-item" href="{% url 'user:signout' %}">Sign out</a>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
  <!-- / -->

  <!-- content -->
  {% block menu %}
    <div id="content" class="app-content white bg box-shadow-z2" role="main">
      <div class="app-header hidden-lg-up white lt box-shadow-z1">
          <div class="navbar">
          <!-- brand -->
          <a href="{% url 'event:index' %}" class="navbar-brand md ">
            <img src="{% static 'event/images/logo.png' %}" alt=".">
          </a>
          <!-- / brand -->
          <!-- nabar right -->
          <ul class="nav navbar-nav pull-right">
            <li class="nav-item">
              <!-- Open side - Naviation on mobile -->
              <a data-toggle="modal" data-target="#aside" class="nav-link">
                <i class="material-icons">menu</i>
              </a>
              <!-- / -->
            </li>
          </ul>
          <!-- / navbar right -->
        </div>
      </div>
      <div class="app-footer app-player grey bg">
        <div class="playlist" style="width:100%"></div>
      </div>
    {% endblock menu %}

    {% block content %}
    {% endblock content %}
    </div>
  </div>

<!-- build:js scripts/app.min.js -->
<!-- jQuery -->
  <script src="{% static 'event/libs/jquery/dist/jquery.js' %}"></script>
<!-- Bootstrap -->
  <script src="{% static 'event/libs/tether/dist/js/tether.min.js' %}"></script>
  <script src="{% static 'event/libs/bootstrap/dist/js/bootstrap.js' %}"></script>
<!-- core -->
  <script src="{% static 'event/libs/jQuery-Storage-API/jquery.storageapi.min.js' %}"></script>
  <script src="{% static 'event/libs/jquery.stellar/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'event/libs/owl.carousel/dist/owl.carousel.min.js' %}"></script>
  <script src="{% static 'event/libs/jscroll/jquery.jscroll.min.js' %}"></script>
  <script src="{% static 'event/libs/PACE/pace.min.js' %}"></script>
  <script src="{% static 'event/libs/jquery-pjax/jquery.pjax.js' %}"></script>

  <script src="{% static 'event/scripts/config.lazyload.js' %}"></script>
  <script src="{% static 'event/scripts/ui-load.js' %}"></script>
  <script src="{% static 'event/scripts/ui-jp.js' %}"></script>
  <script src="{% static 'event/scripts/ui-include.js' %}"></script>
  <script src="{% static 'event/scripts/ui-device.js' %}"></script>
  <script src="{% static 'event/scripts/ui-form.js' %}"></script>
  <script src="{% static 'event/scripts/ui-nav.js' %}"></script>
  <script src="{% static 'event/scripts/ui-screenfull.js' %}"></script>
  <script src="{% static 'event/scripts/ui-scroll-to.js' %}"></script>
  <script src="{% static 'event/scripts/ui-toggle-class.js' %}"></script>
  <script src="{% static 'event/scripts/ui-taburl.js' %}"></script>
  <script src="{% static 'event/scripts/app.js' %}"></script>
  <script src="{% static 'event/scripts/site.js' %}"></script>
  <script src="{% static 'event/scripts/ajax.js' %}"></script>
<!-- endbuild -->
</body>
</html>
