{% extends 'event/index.html' %}
{% load static %}

{% block content %}
<div class="app-body light" id="view">

  <!-- ############ PAGE START-->
  <div class="padding">
    <form action="#" class="m-b-md">
      <div class="input-group input-group-lg">
        <input type="text" class="form-control" placeholder="Type keyword">
        <span class="input-group-btn">
          <button class="btn b-a no-shadow white" type="button">Search</button>
        </span>
      </div>
    </form>
    <p class="m-b-md"><strong>23</strong> Results found for: <strong>Keyword</strong></p>
  </div>
</div>
{% endblock content %}
