{% extends 'event/index.html' %}

{% block content %}
<!-- ############ PAGE START-->
<div class="app-body light" id="view">
  <div class="row-col">
    <div class="col-lg-9 b-r no-border-md">
      <div class="padding p-y-0 m-b-md">
        <h2 class="m-y-md">{% if venue.id %} Update {% else %} Add {% endif %} venue</h2>
        <form method="post">
          {% csrf_token %}
          <div class="form-group row">
            <div class="col-sm-1 form-control-label text-muted">Name</div>
            <div class="col-sm-3"><input name="name" value="{{ form.name.value|default_if_none:"" }}" placeholder="Name" class="form-control {% if form.name.errors %}b-danger{% endif %}"></div>
            {% if form.name.errors %}
              <span class="label label-md danger pos-rlt p-a-sm col-xs-2">
                <b class="arrow left b-danger"></b>
                {% for errors in form.name.errors %}
                  {{ errors|striptags }}<br>
                {% endfor %}
              </span>
            {% endif %}
          </div>
          <div class="form-group row">
            <div class="col-sm-1 form-control-label text-muted">City</div>
            <div class="col-sm-3"><input title="{{ form.city.help_text }}" name="city" value="{{ form.city.value|default_if_none:"" }}" placeholder="City" class="form-control {% if form.city.errors %}b-danger{% endif %}"></div>
            {% if form.city.errors %}
              <span class="label label-md danger pos-rlt p-a-sm col-xs-2">
                <b class="arrow left b-danger"></b>
                {% for errors in form.city.errors %}
                  {{ errors|striptags }}<br>
                {% endfor %}
              </span>
            {% endif %}
          </div>
          <div class="form-group row">
            <div class="col-sm-1 form-control-label text-muted">Country</div>
            <div class="col-sm-3"><input title="{{ form.country.help_text }}" name="country" value="{{ form.country.value|default_if_none:"" }}" placeholder="Country" class="form-control {% if form.country.errors %}b-danger{% endif %}"></div>
            {% if form.country.errors %}
              <span class="label label-md danger pos-rlt p-a-sm col-xs-2">
                <b class="arrow left b-danger"></b>
                {% for errors in form.country.errors %}
                  {{ errors|striptags }}<br>
                {% endfor %}
              </span>
            {% endif %}
            </div>
            <button type="submit" class="btn btn-md rounded primary p-x-md">{% if venue.id %} Update {% else %} Add {% endif %}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
