<div class="page-title m-b">
  <h5 class="inline m-a-0">{% if past %}Past{% else %}Upcoming{% endif %}</h5>
  <div class="dropdown inline">
    <button id="{% if past %}past_{% endif %}event_button" class="btn btn-sm no-bg h5 m-y-0 v-b dropdown-toggle text-primary" data-toggle="dropdown">All the time</button>
    <div id="{% if past %}past_{% endif %}event_sort" class="dropdown-menu">
      <a id="week" class="dropdown-item">
        {% if past %}Last{% else %}This{% endif %} week
      </a>
      <a id="month" class="dropdown-item">
        {% if past %}Last{% else %}This{% endif %} month
      </a>
      <a id="year" class="dropdown-item">
        {% if past %}Last{% else %}This{% endif %} year
      </a>
      <a id="all" class="dropdown-item active">
        All the time
      </a>
    </div>
  </div>
</div>
{% if events.items %}
  <div class="row item-list item-list-md item-list-li-by m-b">
    {% for key, events in events.items %}
    <div id="{% if past %}past_{% endif %}{{ key }}" {% if key in 'week, month, year' %}class="modal"{% endif %}>
    {% if events %}
      {% for event in events %}
        {% include "event/items/event_item.html" with event=event overview=False profile=True %}
      {% endfor %}
    {% else  %}
      <div class="col-xs-12">
        No {% if not past %}upcoming{% endif %} events
        {% if key in 'week, month, year' %}
          {% if past %}last{% else %}this{% endif %} {{ key }}
        {% endif %}
      </div>
    {% endif %}
    </div>
    {% endfor %}
  </div>
{% else %}
  <div class="col-xs-12">
    No {% if past %}past{% else %}upcoming{% endif %} events
  </div>
{% endif %}