<div class="page-title m-b">
  <h5 class="inline m-a-0">Past</h5>
  <div class="dropdown inline">
    <button id="past_event_button" class="btn btn-sm no-bg h5 m-y-0 v-b dropdown-toggle text-primary" data-toggle="dropdown">All the time</button>
    <div id="past_event_sort" class="dropdown-menu">
      <a id="week" class="dropdown-item">
        Last week
      </a>
      <a id="month" class="dropdown-item">
        Last month
      </a>
      <a id="year" class="dropdown-item">
        Last year
      </a>
      <a id="all" class="dropdown-item active">
        All the time
      </a>
    </div>
  </div>
</div>
{% if past_events.items %}
  <div class="row item-list item-list-md item-list-li-by m-b">
    {% for key, past_events in past_events.items %}
    <div id="past_{{ key }}" {% if key in 'week, month, year' %}class="modal"{% endif %}>
    {% if past_events %}
      {% for past_event in past_events %}
        {% include "event/items/event_item.html" with event=past_event overview=False profile=True admin=False %}
      {% endfor %}
    {% else  %}
      <div class="col-xs-12">
        No past events
        {% if key in 'week, month, year' %}
          last {{ key }}
        {% endif %}
      </div>
    {% endif %}
    </div>
    {% endfor %}
  </div>
{% else %}
  <div class="col-xs-12">
    No events
  </div>
{% endif %}