<div class="page-title m-b">
  <h5 class="inline m-a-0">Upcoming</h5>
  <div class="dropdown inline">
    <button id="event_button" class="btn btn-sm no-bg h5 m-y-0 v-b dropdown-toggle text-primary" data-toggle="dropdown">All the time</button>
    <div id="event_sort" class="dropdown-menu">
      <a id="week" class="dropdown-item">
        This week
      </a>
      <a id="month" class="dropdown-item">
        This month
      </a>
      <a id="year" class="dropdown-item">
        This year
      </a>
      <a id="all" class="dropdown-item active">
        All the time
      </a>
    </div>
  </div>
</div>
{% if upcoming_events.items %}
  <div class="row item-list item-list-md item-list-li-by m-b">
    {% for key, upcoming_events in upcoming_events.items %}
    <div id="{{ key }}" {% if key in 'week, month, year' %}class="modal"{% endif %}>
    {% if upcoming_events %}
      {% for upcoming_event in upcoming_events %}
        {% include "event/items/event_item.html" with event=upcoming_event overview=False profile=True admin=False %}
      {% endfor %}
    {% else  %}
      <div class="col-xs-12">
        No upcoming events
        {% if key in 'week, month, year' %}
          this {{ key }}
        {% endif %}
      </div>
    {% endif %}
    </div>
    {% endfor %}
  </div>
{% else %}
  <div class="col-xs-12">
    No upcoming events
  </div>
{% endif %}