{% extends 'event/index.html' %}
{% load static %}

{% block content %}
<div class="app-body light" id="view">
<!-- ############ PAGE START-->
<div class="page-bg" data-stellar-ratio="2" style="background-image: url({% static 'event/images/a3.jpg' %});"></div>
  <div class="page-content">
    <div class="padding b-b">
      <div class="row-col">
          <div class="col-sm w w-auto-xs m-b">
            <div class="item w rounded">
              <div class="item-media">
                <div class="item-media-content" style="background-image: url({% static 'event/images/a3.jpg' %});"></div>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="p-l-md no-padding-xs">
              <h1 class="page-title">
                <span class="h2 _800">
                  {% if user.first_name and user.last_name %}
                    {{ user.first_name }} {{ user.last_name }}
                  {% else %}
                    {{ user.username }}
                  {% endif %}
                </span>
              </h1>
              <div class="item-action m-b">
                <a href="#" class="btn btn-sm rounded primary">Upload</a>
                <a href="#" class="btn btn-sm rounded white">Edit Profile</a>
              </div>
              <div class="block clearfix m-b">
                <span>23</span> <span class="text-muted">Events</span>, <span>9</span> <span class="text-muted">Artists</span>
              </div>
            </div>
          </div>
      </div>
    </div>

    <div class="row-col">
      <div class="col-lg-9 b-r no-border-md">
        <div class="padding p-y-0 m-b-md">
          <div class="nav-active-border b-primary bottom m-b-md m-t">
            <ul class="nav l-h-2x" data-ui-jp="taburl">
              <li class="nav-item m-r inline">
                <a class="nav-link" href="#" data-toggle="tab" data-target="#event">Events</a>
              </li>
              <li class="nav-item m-r inline">
                <a class="nav-link" href="#" data-toggle="tab" data-target="#artist">Artists</a>
              </li>
              <li class="nav-item m-r inline">
                <a class="nav-link active" href="#" data-toggle="tab" data-target="#venue">Venues</a>
              </li>
              <li class="nav-item m-r inline">
                <a class="nav-link" href="#" data-toggle="tab" data-target="#bookmark">Bookmarks</a>
              </li>
              <li class="nav-item m-r inline">
                <a class="nav-link" href="#" data-toggle="tab" data-target="#profile">Profile</a>
              </li>
            </ul>
          </div>
          <div class="tab-content">
            <div class="tab-pane" id="event">
              {% if user.events.all %}
                <div class="row item-list item-list-by m-b">
                  {% for event in user.events.all %}
                    <div class="col-xs-12">
                      <div class="item r">
                          {% if event.artists.all %}
                            {% with event.artists.all|first as artist %}
                              <div class="item-media ">
                                <a href="{% url 'event:event_detail' event.id %}" class="item-media-content" style="background-image: url('{% if artist.thumb_url %}{{ artist.thumb_url }}{% else %}{% static 'event/images/a3.jpg' %}{% endif %}');"></a>
                              </div>
                            {% endwith %}
                          {% else %}
                            <div class="item-media ">
                              <a href="{% url 'event:event_detail' event.id %}" class="item-media-content" style="background-image: url('{% static 'event/images/a3.jpg' %}');"></a>
                            </div>
                          {% endif %}
                        <div class="item-info">
                          <div class="item-overlay bottom text-right">
                            <a href="#" class="btn-favorite"><i class="fa fa-star"></i></a>
                            <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                            <div class="dropdown-menu pull-right black lt"></div>
                          </div>
                          <div class="item-title text-ellipsis">
                            <a href="{% url 'event:event_detail' event.id %}">{{ event.title }}</a>
                          </div>
                          <div class="item-action visible-list m-t-sm">
                            <a href="{% url 'event:event_update' event.id %}" class="btn btn-xs white">Edit</a>
                            <a href="{% url 'event:event_delete' event.id %}" class="btn btn-xs white" data-toggle="modal" data-target="#delete-modal">Delete</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                    <div class="col-lg-12">
                      <div class="p-t-md">
                        <h6 class="text-muted m-b-md">Would you like to add a event?</h6>
                        <a class="btn circle btn-outline b-primary m-b-lg p-x-md" href="{% url 'event:event_add' %}">Add</a>
                      </div>
                    </div>
                </div>
              {% else %}
                <div class="col-lg-12 text-center">
                  <div class="p-a-lg">
                    <h2 class="m-y-md">No added events</h2>
                    <h6 class="text-muted m-b-md">Would you like to add a event?</h6>
                    <a class="btn circle btn-outline b-primary m-b-lg p-x-md" href="{% url 'event:event_add' %}">Add</a>
                  </div>
                </div>
              {% endif %}
            </div>
            <div class="tab-pane" id="artist">
              {% if user.artists.all %}
                <div class="row item-list item-list-by m-b">
                  {% for artist in user.artists.all %}
                    <div class="col-xs-12">
                      <div class="item r">
                        <div class="item-media ">
                          <a href="{% url 'event:artist_detail' artist.id %}" class="item-media-content" style="background-image: url('{% if artist.thumb_url %}{{ artist.thumb_url }}{% else %}{% static 'event/images/a3.jpg' %}{% endif %}');"></a>
                        </div>
                        <div class="item-info">
                          <div class="item-overlay bottom text-right">
                            <a href="#" class="btn-favorite"><i class="fa fa-star"></i></a>
                            <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                            <div class="dropdown-menu pull-right black lt"></div>
                          </div>
                          <div class="item-title text-ellipsis">
                            <a href="{% url 'event:artist_detail' artist.id %}">{{ artist.name }}</a>
                          </div>
                          <div class="item-except visible-list text-sm text-muted h-2x m-t-sm m-b-md">
                              {% if artist.events.count %}
                                <i class="material-icons md-24">event_note</i>
                                {{ artist.events.count }}
                                {% if artist.events.count == 1 %}
                                  event
                                {% else %}
                                  events
                                {% endif %}
                              {% else %}
                                No events
                              {% endif %}
                            </span>
                          </div>
                          <div class="item-action visible-list m-t-sm">
                            <a href="{% url 'event:artist_update' artist.id %}" class="btn btn-xs white">Edit</a>
                            <a href="{% url 'event:artist_delete' artist.id %}" class="btn btn-xs white" data-toggle="modal" data-target="#delete-modal">Delete</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                    <div class="col-lg-12">
                      <div class="p-t-md">
                        <h6 class="text-muted m-b-md">Would you like to add a artist?</h6>
                        <a class="btn circle btn-outline b-primary m-b-lg p-x-md" href="{% url 'event:artist_add' %}">Add</a>
                      </div>
                    </div>
                </div>
                {% else %}
                <div class="col-lg-12 text-center">
                  <div class="p-a-lg">
                    <h2 class="m-y-md">No added artists</h2>
                    <h6 class="text-muted m-b-md">Would you like to add a artist?</h6>
                    <a class="btn circle btn-outline b-primary m-b-lg p-x-md" href="{% url 'event:artist_add' %}">Add</a>
                  </div>
                </div>
              {% endif %}
            </div>
            <div class="tab-pane active" id="venue">
              {% if user.venues.all %}
                <div class="row item-list item-list-by m-b">
                  {% for venue in user.venues.all %}
                    <div class="col-xs-12">
                      <div class="item r" data-id="item-4">
                        <div class="item-info">
                          <div class="item-overlay bottom text-right">
                            <a href="#" class="btn-favorite"><i class="fa fa-star"></i></a>
                            <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                            <div class="dropdown-menu pull-right black lt"></div>
                          </div>
                          <div class="item-title text-ellipsis">
                            <a href="venue.detail.html">{{ venue.name }}</a>
                          </div>
                          {% if venue.city %}
                          <div class="item-except visible-list text-sm m-t-sm">
                            City: {{ venue.city }}
                          </div>
                          {% endif %}
                          {% if venue.country %}
                          <div class="item-except visible-list text-sm m-t-sm">
                            Country: {{ venue.country }}
                          </div>
                          {% endif %}
                          <div class="item-action visible-list m-t-md">
                            <a href="{% url 'event:venue_update' venue.id %}" class="btn btn-xs white">Edit</a>
                            <a href="{% url 'event:venue_delete' venue.id %}" class="btn btn-xs white" data-toggle="modal" data-target="#delete-modal">Delete</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                    <div class="col-lg-12">
                      <div class="p-t-md">
                        <h6 class="text-muted m-b-md">Would you like to add a venue?</h6>
                        <a class="btn circle btn-outline b-primary m-b-lg p-x-md" href="{% url 'event:venue_add' %}">Add</a>
                      </div>
                    </div>
                </div>
              {% else %}
                <div class="col-lg-12 text-center">
                  <div class="p-a-lg">
                    <h2 class="m-y-md">No added venues</h2>
                    <h6 class="text-muted m-b-md">Would you like to add a venue?</h6>
                    <a class="btn circle btn-outline b-primary m-b-lg p-x-md" href="{% url 'event:venue_add' %}">Add</a>
                  </div>
                </div>
              {% endif %}
            </div>
            <div class="tab-pane" id="bookmark">
              <h5 class="m-b">Events</h5>
              {% if user.events.all %}
                <div class="row item-list item-list-md item-list-li m-b" id="events">
                  {% for event in user.events.all%}
                    <div class="col-md-12 col-lg-6">
                      <div class="item r" data-id="item-2">
                        {% if event.artists.all %}
                          {% with event.artists.all|first as artist %}
                            <div class="item-media ">
                              <a href="{% url 'event:event_detail' event.id %}" class="item-media-content" style="background-image: url('{% if artist.thumb_url %}{{ artist.thumb_url }}{% else %}{% static 'event/images/a3.jpg' %}{% endif %}');"></a>
                            </div>
                          {% endwith %}
                        {% else %}
                          <div class="item-media ">
                            <a href="{% url 'event:event_detail' event.id %}" class="item-media-content" style="background-image: url('{% static 'event/images/a3.jpg' %}');"></a>
                          </div>
                        {% endif %}
                        <div class="item-info">
                          <div class="item-overlay bottom text-right">
                            <a href="#" class="btn-favorite"><i class="fa fa-star"></i></a>
                            <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                            <div class="dropdown-menu pull-right black lt"></div>
                          </div>
                          <div class="item-title text-ellipsis">
                            <a href="{% url 'event:event_detail' event.id %}">{{ event.title }} @ {{ event.venue.name }}, {{ event.venue.city }}, {{ event.venue.country }}</a>
                          </div>
                          <div class="item-author text-sm text-ellipsis ">
                            <a href="{% url 'event:event_detail' event.id %}" class="text-muted">{{ event.datetime|date:"l, d M Y – g:i A" }}</a>
                          </div>
                          <div class="item-meta text-sm text-muted">
                            <span class="item-meta-stats text-xs  item-meta-right">
                              <i class="fa fa-star m-l-sm text-muted"></i> {{ event.users.count }}
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              {% else %}
              {% endif %}
              <h5 class="m-b">Artists</h5>
              {% if user.artists.all %}
                <div class="row m-b">
                  {% for artist in user.artists.all %}
                    <div class="col-xs-4 col-sm-4 col-md-3">
                      <div class="item r" data-id="item-7">
                      <div class="item-media ">
                        <a href="{% url 'event:artist_detail' artist.id %}" class="item-media-content" style="background-image: url('{% if artist.thumb_url %}{{ artist.thumb_url }}{% else %}{% static 'event/images/a3.jpg' %}{% endif %}');"></a>
                      </div>
                      <div class="item-info">
                        <div class="item-overlay bottom text-right">
                          <a href="#" class="btn-favorite"><i class="fa fa-star"></i></a>
                          <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                          <div class="dropdown-menu pull-right black lt"></div>
                        </div>
                        <div class="item-title text-ellipsis">
                          <a href="{% url 'event:artist_detail' artist.id %}">{{ artist.name }}</a>
                        </div>
                        <div class="item-author text-sm text-ellipsis hide">
                          <a href="{% url 'event:artist_detail' artist.id %}" class="text-muted">{{ artist.name }}</a>
                        </div>
                        <div class="item-meta text-sm text-muted">
                          <span class="item-meta-stats text-xs ">
                            <i class="fa fa-star text-muted"></i> {{ artist.users.count }}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
                </div>
              {% else %}
              {% endif %}
              </div>
            </div>
            <div class="tab-pane" id="profile">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- .modal -->
<div id="delete-modal" class="modal fade animate black-overlay" data-backdrop="false">
  <div class="row-col h-v">
    <div class="row-cell v-m">
      <div class="modal-dialog modal-sm">
        <div class="modal-content flip-y">
          <div class="modal-body text-center">
            <p class="p-y m-t"><i class="fa fa-remove text-warning fa-3x"></i></p>
            <p>Are you sure to delete this item?</p>
          </div>
          <div class="modal-footer">
            <form method="post" action="">
              {% csrf_token %}
              <button type="button" class="btn btn-default p-x-md" data-dismiss="modal">No</button>
              <button type="button submit" class="btn red p-x-md">Yes</button>
            </form>
          </div>
        </div><!-- /.modal-content -->
      </div>
    </div>
  </div>
</div>
<!-- / .modal -->
{% endblock content %}
