{% extends 'event/index.html' %}
{% load static %}

{% block content %}

{% static 'event/images/a3.jpg' as default_url %}

<div class="app-body light" id="view">
<!-- ############ PAGE START-->
<div class="page-bg" data-stellar-ratio="2" style="background-image: url({{ user.image_url|default:default_url }});"></div>
  <div class="page-content">
    <div class="padding b-b">
      <div class="row-col">
          <div class="col-sm w w-auto-xs m-b">
            <div class="item w rounded">
              <div class="item-media">
                <div class="item-media-content" style="background-image: url({{ user.thumb_url|default:default_url }});"></div>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="p-l-md no-padding-xs">
              <h1 class="page-title">
                <span class="h2 _800">
                  {% if user.first_name and user.last_name %}
                    {{ user.first_name }} {{ user.last_name }}
                  {% else %}
                    {{ user.username }}
                  {% endif %}
                </span>
              </h1>
              <div class="item-action m-b">
                <a id="change_tab" href="#" class="btn btn-sm rounded primary" data-toggle="tab" data-target="#profile">Edit Profile</a>
              </div>
              {% if user.events.count or user.artists.count %}
              <div class="block clearfix m-b">
                {% if user.events.count %}
                  <span id="count_events">{{ user.events.count }}</span>
                  <span id="text_events" class="text-muted">Event{{ user.events.count|pluralize:"s" }}</span>{% endif %}{% if user.events.count and user.artists.count %}<span id="comma">, </span>{% endif %}
                {% if user.artists.count %}
                  <span id="count_artists">{{ user.artists.count }}</span>
                  <span id="text_artists" class="text-muted">Artist{{ user.artists.count|pluralize:"s"}}</span>
                {% endif %}
              </div>
              {% endif %}
            </div>
          </div>
      </div>
    </div>

    <div class="row-col">
      <div class="col-lg-9 b-r no-border-md">
        <div class="padding p-y-0 m-b-md">
          <div class="nav-active-border b-primary bottom m-b-md m-t">
            <ul id="change_nav" class="nav l-h-2x" data-ui-jp="taburl">
              <li class="nav-item m-r inline">
                <a class="nav-link active" href="#" data-toggle="tab" data-target="#events">Events</a>
              </li>
              <li class="nav-item m-r inline">
                <a class="nav-link" href="#" data-toggle="tab" data-target="#artists">Artists</a>
              </li>
              <li class="nav-item m-r inline">
                <a class="nav-link" href="#" data-toggle="tab" data-target="#venues">Venues</a>
              </li>
              <li class="nav-item m-r inline">
                <a class="nav-link" href="#" data-toggle="tab" data-target="#bookmarks">Bookmarks</a>
              </li>
              <li class="nav-item m-r inline">
                <a class="nav-link" href="#" data-toggle="tab" data-target="#profile">Profile</a>
              </li>
            </ul>
          </div>
          <div class="tab-content">
            <div class="tab-pane active" id="events">
              {% if user.events.all %}
                <div id="row_events" class="row item-list item-list-by m-b">
                  {% for event in user.events.all %}
                    {% include "event/event_item.html" with event=event artist=event.artists.all|first overview=False profile=True admin=True %}
                  {% endfor %}
                    <div class="col-lg-12">
                      <div class="p-t-md">
                        <h6 class="text-muted m-b-md">Would you like to add an event{% if not perms.add_event %} to bookmarks{% endif %}?</h6>
                        <a class="btn circle btn-outline b-primary m-b-lg p-x-md"
                           href="{% if perms.add_event %}{% url 'event:event_add' %}{% else %}{% url 'event:event' %}{% endif %}"
                        >Add</a>
                      </div>
                    </div>
                </div>
              {% else %}
                <div class="col-lg-12 text-center">
                  <div class="p-a-lg">
                    <h2 class="m-y-md">No {% if perms.add_event %}added {% endif %}events{% if not perms.add_event %} in bookmarks{% endif %}</h2>
                    <h6 class="text-muted m-b-md">Would you like to add an event{% if not perms.add_event %} to bookmarks{% endif %}?</h6>
                    <a class="btn circle btn-outline b-primary m-b-lg p-x-md"
                      href="{% if perms.add_event %}{% url 'event:event_add' %}{% else %}{% url 'event:event' %}{% endif %}"
                    >Add</a>
                  </div>
                </div>
              {% endif %}
            </div>
            <div class="tab-pane" id="artists">
              {% if user.artists.all %}
                <div id="row_artists" class="row item-list item-list-by m-b">
                  {% for artist in user.artists.all %}
                    <div id="artist_{{ artist.id }}" class="col-xs-12">
                      <div class="item r">
                        <div class="item-media ">
                          <a href="{% url 'event:artist_detail' artist.id %}" class="item-media-content" style="background-image: url({{ artist.thumb_url|default:default_url }});"></a>
                        </div>
                        <a href="{% if perms.change_artist %}{% url 'event:artist_update' artist.id %}{% else %}{% url 'event:artist_detail' artist.id %}{% endif %}" class="item-media-content" style="background-color: transparent">
                        <div class="item-info">
                          <div class="item-overlay bottom text-right">
                            <a class="btn-favorite" data-id="artist_{{ artist.id }}" data-url="{% url 'event:artist_bookmark' artist.id %}"><i class="fa fa-star"></i></a>
                          </div>
                          <div class="item-title text-ellipsis">
                            {{ artist.name }}
                          </div>
                          <div class="item-except visible-list text-sm h-2x m-t-sm {% if perms.change_artist or perms.delete_artist %}m-b-md{% endif %}">
                              {% if artist.events.count %}
                                <i class="material-icons md-24">event_note</i>
                                {{ artist.events.count }} event{{ artist.events.count|pluralize:"s" }}
                              {% else %}
                                No events
                              {% endif %}
                          </div>
                          {% if perms.change_artist or perms.delete_artist %}
                          <div class="item-action visible-list m-t-sm">
                            {% if perms.change_artist %}
                            <a href="{% url 'event:artist_update' artist.id %}" class="item btn m-l-0 btn-xs white" style="padding-top: 0.1565rem; padding-right: 0.5rem; padding-bottom: 0.1565rem;padding-left: 0.5rem;">Edit</a>
                            {% endif %}
                            {% if perms.delete_artist %}
                            <a href="{% url 'event:artist_delete' artist.id %}" class="item btn m-l-1 btn-xs white" style="padding-top: 0.1565rem; padding-right: 0.5rem; padding-bottom: 0.1565rem;padding-left: 0.5rem;" data-toggle="modal" data-target="#delete-modal">Delete</a>
                            {% endif %}
                          </div>
                          {% endif %}
                        </div>
                        </a>
                      </div>
                    </div>
                  {% endfor %}
                    <div class="col-lg-12">
                      <div class="p-t-md">
                        <h6 class="text-muted m-b-md">Would you like to add a artist{% if not perms.add_artist %} to bookmarks{% endif %}?</h6>
                        <a class="btn circle btn-outline b-primary m-b-lg p-x-md"
                           href="{% if perms.add_artist %}{% url 'event:artist_add' %}{% else %}{% url 'event:artist' %}{% endif %}"
                        >Add</a>
                      </div>
                    </div>
                </div>
                {% else %}
                <div class="col-lg-12 text-center">
                  <div class="p-a-lg">
                    <h2 class="m-y-md">No {% if perms.add_artist %}added {% endif %}artists{% if not perms.add_artist %} in bookmarks{% endif %}</h2>
                    <h6 class="text-muted m-b-md">Would you like to add a artist{% if not perms.add_artist %} to bookmarks{% endif %}?</h6>
                    <a class="btn circle btn-outline b-primary m-b-lg p-x-md"
                       href="{% if perms.add_artist %}{% url 'event:artist_add' %}{% else %}{% url 'event:artist' %}{% endif %}"
                    >Add</a>
                  </div>
                </div>
              {% endif %}
            </div>
            <div class="tab-pane" id="venues">
              {% if user.venues.all %}
                <div id="row_venues" class="row item-list item-list-by m-b">
                  {% for venue in user.venues.all %}
                    <div id="venue_{{ venue.id }}" class="col-xs-12">
                      <div class="item r" data-id="item-4">
                        {% if perms.change_venue %}<a href="{% url 'event:venue_update' venue.id %}" class="item-media-content" style="background-color: transparent">{% endif %}
                        <div class="item-info">
                          <div class="item-overlay bottom text-right">
                            <a class="btn-favorite" data-id="venue_{{ venue.id }}" data-url="{% url 'event:venue_bookmark' venue.id %}"><i class="fa fa-star"></i></a>
                          </div>
                          <div class="item-title text-ellipsis">
                            {% if perms.change_venue %}<a href="{% url 'event:venue_update' venue.id %}">{% endif %}
                              {{ venue.name }}
                            {% if perms.change_venue %}</a>{% endif %}
                          </div>
                          {% if venue.city %}
                          <div class="item-except visible-list text-sm m-t-sm">
                            City: {{ venue.city }}
                          </div>
                          {% endif %}
                          {% if venue.country %}
                          <div class="item-except visible-list text-sm m-t-sm">
                            Country: {{ venue.country }}
                          </div>
                          {% endif %}
                          {% if perms.change_venue or perms.delete_venue %}
                          <div class="item-action visible-list m-t-md">
                            {% if perms.change_venue %}
                            <a href="{% url 'event:venue_update' venue.id %}" class="item m-l-0 btn btn-xs white" style="padding-top: 0.1565rem; padding-right: 0.5rem; padding-bottom: 0.1565rem;padding-left: 0.5rem;">Edit</a>
                            {% endif %}
                            {% if perms.delete_venue %}
                            <a href="{% url 'event:venue_delete' venue.id %}" class="item m-l-1 btn btn-xs white" style="padding-top: 0.1565rem; padding-right: 0.5rem; padding-bottom: 0.1565rem;padding-left: 0.5rem;" data-toggle="modal" data-target="#delete-modal">Delete</a>
                            {% endif %}
                          </div>
                          {% endif %}
                        </div>
                        {% if perms.change_venue %}</a>{% endif %}
                      </div>
                    </div>
                  {% endfor %}
                    <div class="col-lg-12">
                      <div class="p-t-md">
                        <h6 class="text-muted m-b-md">Would you like to add a venue{% if not perms.add_venue %} to bookmarks{% endif %}?</h6>
                        <a class="btn circle btn-outline b-primary m-b-lg p-x-md"
                           href="{% if perms.add_venue %}{% url 'event:venue_add' %}{% else %}{% url 'event:venue' %}{% endif %}"
                        >Add</a>
                      </div>
                    </div>
                </div>
              {% else %}
                <div class="col-lg-12 text-center">
                  <div class="p-a-lg">
                    <h2 class="m-y-md">No {% if perms.add_venue %}added {% endif %}venues{% if not perms.add_venue %} in bookmarks{% endif %}</h2>
                    <h6 class="text-muted m-b-md">Would you like to add a venue{% if not perms.add_venue %} to bookmarks{% endif %}?</h6>
                    <a class="btn circle btn-outline b-primary m-b-lg p-x-md"
                       href="{% if perms.add_venue %}{% url 'event:venue_add' %}{% else %}{% url 'event:venue' %}{% endif %}"
                    >Add</a>
                  </div>
                </div>
              {% endif %}
            </div>
            <div class="tab-pane" id="bookmarks">
              <h5 class="m-b">Events</h5>
              {% if user.events.all %}
                <div id="bookmark_events" class="row item-list item-list-md item-list-li-by m-b">
                  {% for event in user.events.all%}
                    {% include "event/event_item.html" with event=event artist=event.artists.all|first overview=True profile=True admin=False %}
                  {% endfor %}
                </div>
              {% else %}
                <div class="col-lg-12 text-center">
                  <div class="p-a-xs">
                    <h2 class="m-y-sm">No events in bookmarks</h2>
                    <h6 class="text-muted m-b-md">Would you like to add an event to bookmarks?</h6>
                    <a class="btn circle btn-outline b-primary m-b-lg p-x-md" href="{% url 'event:event' %}">Add</a>
                  </div>
                </div>
              {% endif %}
              <h5 class="m-b">Artists</h5>
              {% if user.artists.all %}
                <div id="bookmark_artists" class="row m-b">
                  {% for artist in user.artists.all %}
                    {% include "event/artist_item.html" with artist=artist rounded=False %}
                  {% endfor %}
                </div>
              {% else %}
                <div class="col-lg-12 text-center">
                  <div class="p-a-xs">
                    <h2 class="m-y-sm">No artists in bookmarks</h2>
                    <h6 class="text-muted m-b-md">Would you like to add a artist to bookmarks?</h6>
                    <a class="btn circle btn-outline b-primary m-b-lg p-x-md" href="{% url 'event:artist' %}">Add</a>
                  </div>
                </div>
              {% endif %}
              </div>
              <div class="tab-pane" id="profile">
                <form name="form" action="{% url 'user:update' %}" method="post">
                  {% csrf_token %}
                  <div class="col-xs-8 p-x-xs">
                    <div class="form-group row">
                      <div class="col-sm-2 form-control-label text-muted p-y-sm">Username</div>
                      <div class="col-sm-4">
                        <input type="text" name="username" value="{{ form.username.value|default_if_none:"" }}" class="form-control {% if form.username.errors %}b-danger{% endif %}" placeholder="Username">
                      </div>
                      {% if form.username.errors %}
                        <span class="label label-md danger pos-rlt p-a-sm col-xs-4">
                          <b class="arrow left b-danger"></b>
                          {% for errors in form.username.errors %}
                            {{ errors|striptags }}<br>
                          {% endfor %}
                        </span>
                      {% endif %}
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-2 form-control-label text-muted p-y-sm">Email</div>
                      <div class="col-sm-4">
                        <input type="email" name="email" value="{{ form.email.value|default_if_none:"" }}" class="form-control {% if form.email.errors %}b-danger{% endif %}" placeholder="Email">
                      </div>
                      {% if form.email.errors %}
                        <span class="label label-md danger pos-rlt p-a-sm col-xs-4">
                          <b class="arrow left b-danger"></b>
                          {% for errors in form.email.errors %}
                            {{ errors|striptags }}<br>
                          {% endfor %}
                        </span>
                      {% endif %}
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-2 form-control-label text-muted p-y-sm">First name</div>
                      <div class="col-sm-4">
                        <input title="{{ form.first_name.help_text }}" value="{{ form.first_name.value|default_if_none:"" }}" type="text" name="first_name" class="form-control {% if form.first_name.errors %}b-danger{% endif %}" placeholder="First name">
                      </div>
                      {% if form.first_name.errors %}
                        <span class="label label-md danger pos-rlt p-a-sm col-xs-4">
                          <b class="arrow left b-danger"></b>
                          {% for errors in form.first_name.errors %}
                            {{ errors|striptags }}<br>
                          {% endfor %}
                        </span>
                      {% endif %}
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-2 form-control-label text-muted p-y-sm">Last name</div>
                      <div class="col-sm-4">
                        <input title="{{ form.last_name.help_text }}" value="{{ form.last_name.value|default_if_none:"" }}" type="text" name="last_name" class="form-control {% if form.last_name.errors %}b-danger{% endif %}" placeholder="Last name">
                      </div>
                      {% if form.last_name.errors %}
                        <span class="label label-md danger pos-rlt p-a-sm col-xs-4 col-form-label mr-2">
                          <b class="arrow left b-danger"></b>
                          {% for errors in form.last_name.errors %}
                            {{ errors|striptags }}<br>
                          {% endfor %}
                        </span>
                      {% endif %}
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-2 form-control-label text-muted p-y-sm">Image url</div>
                      <div class="col-sm-4">
                        <input type="url" name="image_url" value="{{ form.image_url.value|default_if_none:"" }}" class="form-control {% if form.image_url.errors %}b-danger{% endif %}" placeholder="Image url">
                      </div>
                      {% if form.image_url.errors %}
                        <span class="label label-md danger pos-rlt p-a-sm col-xs-4">
                          <b class="arrow left b-danger"></b>
                          {% for errors in form.image_url.errors %}
                            {{ errors|striptags }}<br>
                          {% endfor %}
                        </span>
                      {% endif %}
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-2 form-control-label text-muted p-y-sm">Thumb url</div>
                      <div class="col-sm-4">
                        <input type="url" name="thumb_url" value="{{ form.thumb_url.value|default_if_none:"" }}" class="form-control {% if form.thumb_url.errors %}b-danger{% endif %}" placeholder="Thumb url">
                      </div>
                      {% if form.thumb_url.errors %}
                        <span class="label label-md danger pos-rlt p-a-sm col-xs-4">
                          <b class="arrow left b-danger"></b>
                          {% for errors in form.thumb_url.errors %}
                            {{ errors|striptags }}<br>
                          {% endfor %}
                        </span>
                      {% endif %}
                    </div>
                    <button type="submit" class="btn btn-md circle btn-outline b-primary p-x-md m-b-lg">Update</button>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
