{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Eventrack – Track Upcoming Live Concerts, Tour Dates and Festivals</title>
  <meta name="description" content="Artist, Event, Festivals, Live Concerts, Music, Musician, Tour Dates, Venue" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- for ios 7 style, multi-resolution icon of 152x152 -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
  <link rel="apple-touch-icon" href="{% static 'event/images/icon.png' %}">
  <meta name="apple-mobile-web-app-title" content="Flatkit">
  <!-- for Chrome on Android, multi-resolution icon of 196x196 -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="shortcut icon" sizes="96x96" href="{% static 'event/images/icon.png' %}">

  <!-- style -->
  <link rel="stylesheet" href="{% static 'event/css/animate.css/animate.min.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'event/css/glyphicons/glyphicons.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'event/css/font-awesome/css/font-awesome.min.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'event/css/material-design-icons/material-design-icons.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'event/css/bootstrap/dist/css/bootstrap.min.css' %}" type="text/css" />

  <!-- build:css css/styles/app.min.css -->
  <link rel="stylesheet" href="{% static 'event/css/styles/app.min.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'event/css/styles/style.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'event/css/styles/font.css' %}" type="text/css" />

    <!-- endbuild -->
  </head>
  <body>
    <div class="app dk" id="app">

<!-- ############ LAYOUT START-->

  <div class="padding">
    <div class="navbar">
      <div class="pull-center">
        <!-- brand -->
        <a href="{% url 'user:signup' %}" class="navbar-brand md">
        	<img src="{% static 'event/images/logo.png' %}" alt=".">
        </a>
        <!-- / brand -->
      </div>
    </div>
  </div>
  <div class="b-t">
    <div class="center-block p-a-md text-center">
      <div class="center-block w-xxl p-a-md">
        <div>
          <a href="#" class="btn btn-block indigo text-white m-b-sm">
            <i class="fa fa-facebook pull-left"></i>
            Sign up with Facebook
          </a>
          <a href="#" class="btn btn-block red text-white">
            <i class="fa fa-google-plus pull-left"></i>
            Sign up with Google+
          </a>
        </div>
        <br>
        <div class="text-sm">
          OR
        </div>
      </div>
      <form name="form" action="{% url 'user:signup' %}" method="post">
        {% csrf_token %}
        <div class="col-xs-8 offset-xs-2 p-x-xs">
          <div class="form-group row">
            <div class="col-xs-4 offset-xs-4">
              <input type="text" name="username" value="{{ form.username.value|default_if_none:"" }}" class="form-control {% if form.username.errors %}b-danger{% endif %}" placeholder="Username">
            </div>
            {% if form.username.errors %}
              <span class="label label-md danger pos-rlt p-a-sm col-xs-4">
                <b class="arrow left b-danger"></b>
                {% for errors in form.username.errors %}
                  {{ errors|striptags }}<br>
                {% endfor %}
              </span>
            {% endif %}
          </div>
          <div class="form-group row">
            <div class="col-xs-4 offset-xs-4">
              <input type="email" name="email"  value="{{ form.email.value|default_if_none:"" }}" class="form-control {% if form.email.errors %}b-danger{% endif %}" placeholder="Email">
            </div>
            {% if form.email.errors %}
              <span class="label label-md danger pos-rlt p-a-sm col-xs-4">
                <b class="arrow left b-danger"></b>
                {% for errors in form.email.errors %}
                  {{ errors|striptags }}<br>
                {% endfor %}
              </span>
            {% endif %}
          </div>
          <div class="form-group row">
            <div class="col-xs-4 offset-xs-4">
              <input title="{{ form.first_name.help_text }}" value="{{ form.first_name.value|default_if_none:"" }}" type="text" name="first_name" class="form-control {% if form.first_name.errors %}b-danger{% endif %}" placeholder="First name">
            </div>
            {% if form.first_name.errors %}
              <span class="label label-md danger pos-rlt p-a-sm col-xs-4">
                <b class="arrow left b-danger"></b>
                {% for errors in form.first_name.errors %}
                  {{ errors|striptags }}<br>
                {% endfor %}
              </span>
            {% endif %}
          </div>
          <div class="form-group row">
            <div class="col-xs-4 offset-xs-4">
              <input title="{{ form.last_name.help_text }}" value="{{ form.last_name.value|default_if_none:"" }}" type="text" name="last_name" class="form-control {% if form.last_name.errors %}b-danger{% endif %}" placeholder="Last name">
            </div>
            {% if form.last_name.errors %}
              <span class="label label-md danger pos-rlt p-a-sm col-xs-4 col-form-label mr-2">
                <b class="arrow left b-danger"></b>
                {% for errors in form.last_name.errors %}
                  {{ errors|striptags }}<br>
                {% endfor %}
              </span>
            {% endif %}
          </div>
          <div class="form-group row">
            <div class="col-xs-4 offset-xs-4">
              <input type="password" name="password1" value="{{ form.password1.value|default_if_none:"" }}" class="form-control {% if form.password1.errors or form.password2.errors %}b-danger{% endif %}" placeholder="Password">
            </div>
            {% if form.password1.errors or form.password2.errors %}
              <span class="label label-md danger pos-rlt p-a-sm col-xs-4">
                <b class="arrow left b-danger"></b>
                {% if form.password1.errors %}
                  {% for errors in form.password1.errors %}
                    {{ errors|striptags }}<br>
                  {% endfor %}
                {% elif form.password2.errors %}
                  {% for errors in form.password2.errors %}
                    {{ errors|striptags }}<br>
                  {% endfor %}
                {% endif %}
              </span>
            {% endif %}
          </div>
          <div class="form-group row">
            <div class="col-xs-4 offset-xs-4">
              <input type="password" name="password2" value="{{ form.password2.value|default_if_none:"" }}" class="form-control {% if form.password1.errors or form.password2.errors %}b-danger{% endif %}" placeholder="Confirm Password">
            </div>
            {% if form.password2.errors %}
              <span class="label label-md danger pos-rlt p-a-sm col-xs-4">
                <b class="arrow left b-danger"></b>
                {% for errors in form.password2.errors %}
                  {{ errors|striptags }}<br>
                {% endfor %}
              </span>
            {% endif %}
          </div>
          <div class="col-xs-4 offset-xs-4 p-x-sm">
            <div class="m-b-md text-sm">
              <span class="text-muted">By clicking Sign Up, I agree to the</span>
              <a href="#">Terms of service</a>
              <span class="text-muted">and</span>
              <a href="#">Policy Privacy.</a>
            </div>
            <button type="submit" class="btn btn-md black p-x-lg">Sign Up</button>
      </form>
      <div class="p-y-md text-center">
        <div>Already have an account? <a href="{% url 'user:signin' %}" class="text-primary _600">Sign in</a></div>
      </div>
    </div>
  </div>

<!-- ############ LAYOUT END-->
</div>

<!-- build:js scripts/app.min.js -->
<!-- jQuery -->
  <script src="{% static 'event/libs/jquery/dist/jquery.js' %}"></script>
<!-- Bootstrap -->
  <script src="{% static 'event/libs/tether/dist/js/tether.min.js' %}"></script>
  <script src="{% static 'event/libs/bootstrap/dist/js/bootstrap.js' %}"></script>
<!-- core -->
  <script src="{% static 'event/libs/jQuery-Storage-API/jquery.storageapi.min.js' %}"></script>
  <script src="{% static 'event/libs/jquery.stellar/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'event/libs/owl.carousel/dist/owl.carousel.min.js' %}"></script>
  <script src="{% static 'event/libs/jscroll/jquery.jscroll.min.js' %}"></script>
  <script src="{% static 'event/libs/PACE/pace.min.js' %}"></script>
  <script src="{% static 'event/libs/jquery-pjax/jquery.pjax.js' %}"></script>

  <script src="{% static 'event/scripts/config.lazyload.js' %}"></script>
  <script src="{% static 'event/scripts/ui-load.js' %}"></script>
  <script src="{% static 'event/scripts/ui-jp.js' %}"></script>
  <script src="{% static 'event/scripts/ui-include.js' %}"></script>
  <script src="{% static 'event/scripts/ui-device.js' %}"></script>
  <script src="{% static 'event/scripts/ui-form.js' %}"></script>
  <script src="{% static 'event/scripts/ui-nav.js' %}"></script>
  <script src="{% static 'event/scripts/ui-screenfull.js' %}"></script>
  <script src="{% static 'event/scripts/ui-scroll-to.js' %}"></script>
  <script src="{% static 'event/scripts/ui-toggle-class.js' %}"></script>
  <script src="{% static 'event/scripts/ui-taburl.js' %}"></script>
  <script src="{% static 'event/scripts/app.js' %}"></script>
  <script src="{% static 'event/scripts/site.js' %}"></script>
  <script src="{% static 'event/scripts/ajax.js' %}"></script>
<!-- endbuild -->
</body>
</html>
