<form name="form" action="{% url 'user:update' %}" method="post">
  {% csrf_token %}
  <div class="col-xs-8 p-x-xs">
    <div class="form-group row">
      <div class="col-sm-2 form-control-label text-muted p-y-sm">Username</div>
      <div class="col-sm-4">
        <input type="text" name="username" value="{{ form.username.value|default:user.username }}" class="form-control {% if form.username.errors %}b-danger{% endif %}" placeholder="Username">
      </div>
      {% if form.username.errors %}
        <span class="label label-md danger pos-rlt p-a-sm col-xs-4">
          <b class="arrow left b-danger"></b>
          {% for errors in form.username.errors %}
            {{ errors|striptags }}<br>
          {% endfor %}
        </span>
      {% endif %}
    </div>
    <div class="form-group row">
      <div class="col-sm-2 form-control-label text-muted p-y-sm">Email</div>
      <div class="col-sm-4">
        <input type="email" name="email" value="{{ form.email.value|default:user.email }}" class="form-control {% if form.email.errors %}b-danger{% endif %}" placeholder="Email">
      </div>
      {% if form.email.errors %}
        <span class="label label-md danger pos-rlt p-a-sm col-xs-4">
          <b class="arrow left b-danger"></b>
          {% for errors in form.email.errors %}
            {{ errors|striptags }}<br>
          {% endfor %}
        </span>
      {% endif %}
    </div>
    <div class="form-group row">
      <div class="col-sm-2 form-control-label text-muted p-y-sm">First name</div>
      <div class="col-sm-4">
        <input title="{{ form.first_name.help_text }}" value="{{ form.first_name.value|default:user.first_name }}" type="text" name="first_name" class="form-control {% if form.first_name.errors %}b-danger{% endif %}" placeholder="First name">
      </div>
      {% if form.first_name.errors %}
        <span class="label label-md danger pos-rlt p-a-sm col-xs-4">
          <b class="arrow left b-danger"></b>
          {% for errors in form.first_name.errors %}
            {{ errors|striptags }}<br>
          {% endfor %}
        </span>
      {% endif %}
    </div>
    <div class="form-group row">
      <div class="col-sm-2 form-control-label text-muted p-y-sm">Last name</div>
      <div class="col-sm-4">
        <input title="{{ form.last_name.help_text }}" value="{{ form.last_name.value|default:user.last_name }}" type="text" name="last_name" class="form-control {% if form.last_name.errors %}b-danger{% endif %}" placeholder="Last name">
      </div>
      {% if form.last_name.errors %}
        <span class="label label-md danger pos-rlt p-a-sm col-xs-4 col-form-label mr-2">
          <b class="arrow left b-danger"></b>
          {% for errors in form.last_name.errors %}
            {{ errors|striptags }}<br>
          {% endfor %}
        </span>
      {% endif %}
    </div>
    <div class="form-group row">
      <div class="col-sm-2 form-control-label text-muted p-y-sm">Image url</div>
      <div class="col-sm-4">
        <input type="url" name="image_url" value="{{ form.image_url.value|default:user.image_url }}" class="form-control {% if form.image_url.errors %}b-danger{% endif %}" placeholder="Image url">
      </div>
      {% if form.image_url.errors %}
        <span class="label label-md danger pos-rlt p-a-sm col-xs-4">
          <b class="arrow left b-danger"></b>
          {% for errors in form.image_url.errors %}
            {{ errors|striptags }}<br>
          {% endfor %}
        </span>
      {% endif %}
    </div>
    <div class="form-group row">
      <div class="col-sm-2 form-control-label text-muted p-y-sm">Thumb url</div>
      <div class="col-sm-4">
        <input type="url" name="thumb_url" value="{{ form.thumb_url.value|default:user.thumb_url }}" class="form-control {% if form.thumb_url.errors %}b-danger{% endif %}" placeholder="Thumb url">
      </div>
      {% if form.thumb_url.errors %}
        <span class="label label-md danger pos-rlt p-a-sm col-xs-4">
          <b class="arrow left b-danger"></b>
          {% for errors in form.thumb_url.errors %}
            {{ errors|striptags }}<br>
          {% endfor %}
        </span>
      {% endif %}
    </div>
    <button type="submit" class="btn btn-md circle btn-outline b-primary p-x-md m-b-lg">Update</button>
  </div>
</form>
