{% extends 'event/pages/index.html' %}
{% load static %}

{% block content %}

{% static 'event/images/a3.jpg' as default_url %}

<div class="app-body light" id="view">

<!-- ############ PAGE START-->
<div class="pos-rlt">
  <div class="page-bg" data-stellar-ratio="2" style="background-image:url({{ artist.image_url|default:default_url }});"></div>
</div>
<div class="page-content">
  <div class="padding b-b">
    <div class="row-col">
        <div class="col-sm w w-auto-xs m-b">
          <div class="item w rounded">
            <div class="item-media">
              <div class="item-media-content" style="background-image: url({{ artist.thumb_url|default:default_url }});"></div>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="p-l-md no-padding-xs">
            <div class="page-title">
              <h2 class="inline">{{ artist.name }}</h2>
              <a class="btn-favorite text-primary text-lg m-l-xs" {% if user.is_authenticated %}data-id="artist_{{ artist.id }}" data-url="{% url 'event:artist_bookmark' artist.id %}" {% else %}data-toggle="modal" data-target="#sign-modal"{% endif %}>
                <i class="fa {% if artist in user.artists.all %}fa-star{% else %}fa-star-o{% endif %}"></i>
              </a>
            </div>
            <div class="item-action m-b">
              <span>
                {% if upcoming_events.all.count %}
                  <i class="material-icons md-24">event_note</i>
                  {{ upcoming_events.all.count }} upcoming event{{ upcoming_events.all.count|pluralize:"s" }}
                {% else %}
                  No upcoming events
                {% endif %}
              </span>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="row-col">
    <div class="col-lg-9 b-r no-border-md">
      <div class="padding">
        <div class="nav-active-border b-primary bottom m-b-md">
          <ul class="nav l-h-2x">
            <li class="nav-item m-r inline">
              <a class="nav-link active" data-toggle="tab" data-target="#overview">Overview</a>
            </li>
            <li class="nav-item m-r inline">
              <a class="nav-link" data-toggle="tab" data-target="#upcoming">Upcoming</a>
            </li>
            <li class="nav-item m-r inline">
              <a class="nav-link" data-toggle="tab" data-target="#past">Past</a>
            </li>
          </ul>
        </div>
        <div class="tab-content">
          <div class="tab-pane active" id="overview">
            {% include 'event/tabs/overview_tab.html' %}
          </div>
          <div class="tab-pane" id="upcoming">
            {% include 'event/tabs/events_tab.html' with past=False events=upcoming_events %}
          </div>
          <div class="tab-pane" id="past">
            {% include 'event/tabs/events_tab.html' with past=True events=past_events %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock content %}
