<div id="artist_{{ artist.pk }}" class="{% if forloop.first %}col-sm-6 text-white m-b-sm{% else %}col-sm-3 col-xs-6{% endif %}">
  <div class="item r">
    <div class="item-media {% if forloop.first %}primary{% endif %}">
      <a href="{% url 'artist:artist_detail' artist.pk %}" class="item-media-content" style="background-image: url({% if forloop.first %}{{ artist.image_url|default:artist.thumb_url }}{% else %}{{ artist.thumb_url|default:default_url }}{% endif %});">
        <div class="item-info">
          <div class="item-title text-ellipsis">{{ artist.name }}</div>
        </div>
      </a>
    </div>
    <div class="item-overlay bottom text-right">
      <a class="btn-favorite" {% if user.is_authenticated %}data-id="artist_{{ artist.pk }}" data-url="{% url 'artist:artist_bookmark' artist.pk %}" {% else %}data-toggle="modal" data-target="#sign-modal"{% endif %}><i class="fa {% if artist in user.artists.all %}fa-star{% else %}fa-star-o{% endif %}"></i></a>
    </div>
  </div>
</div>