<div id="venue_{{ venue.pk }}" class="col-xs-12">
  <div class="item r">
    {% if venue.events.all %}
        {% for event in venue.events.all %}
          {% if forloop.counter <= 5 %}
            <div class="item-media ">
              <a href="{% url 'venue:venue_detail' venue.pk %}" class="item-media-content" {% if event.artists.all.0.thumb_url %}style="background-image: url('{{ event.artists.all.0.thumb_url }}');"{% endif %}>
                {% if not event.artists.all.0.thumb_url %}
                  <i class="material-icons md-36 center text-muted">
                    event
                  </i>
                {% endif %}
              </a>
            </div>
          {% endif %}
        {% endfor %}
    {% else %}
      <div class="item-media ">
        <i class="material-icons md-36 center text-muted">
          place
        </i>
      </div>
    {% endif %}
    <a href="{% url 'venue:venue_detail' venue.pk %}" class="item-media-content" style="background-color: transparent">
    <div class="item-info">
      <div class="item-overlay bottom text-right">
        <a class="btn-favorite" {% if user.is_authenticated %}data-id="venue_{{ venue.pk }}" data-url="{% url 'venue:venue_bookmark' venue.pk %}" {% else %}data-toggle="modal" data-target="#sign-modal"{% endif %}><i class="fa {% if venue in user.venues.all %}fa-star{% else %}fa-star-o{% endif %}"></i></a>
      </div>
      <div class="item-title text-ellipsis">
          {{ venue.name }}
      </div>
      <div class="item-author text-sm text-ellipsis ">
      <div class="item-meta text-sm text-muted">
        <span class="item-meta-stats text-xs  item-meta-right">
          {% if venue.users.count %}<i class="fa fa-star text-muted"></i>
              {{ venue.users.count }}{% endif %}
        </span>
      </div>
      </div>
    </div>
    </a>
  </div>
</div>
