{% extends 'event/pages/index.html' %}
{% load static %}

{% block content %}

{% static 'event/images/a3.jpg' as default_url %}

<div class="app-body light" id="view">
<!-- ############ PAGE START-->
<div class="page-bg" data-stellar-ratio="2" style="background-image: url({{ default_url }});"></div>
  <div class="page-content">
    <div class="padding b-b">
      <div class="row-col">
          <div class="col-sm w w-auto-xs m-b">
            <div class="item w rounded">
              <div class="item-media">
                <div class="item-media-content" style="background-image: url({{ default_url }});"></div>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="p-l-md no-padding-xs">
              <h1 class="page-title">
                <span class="h2 _800">
                  {% if user.first_name and user.last_name %}
                    {{ user.first_name }} {{ user.last_name }}
                  {% else %}
                    {{ user.username }}
                  {% endif %}
                </span>
              </h1>
              <div class="item-action m-b">
                <a id="change_tab" class="btn btn-sm rounded primary" data-toggle="tab" data-target="#profile">Edit Profile</a>
              </div>
              {% if user.events.count or user.artists.count %}
              <div class="block clearfix m-b">
                {% if user.events.count %}
                  <span id="count_events">{{ user.events.count }}</span>
                  <span id="text_events" class="text-muted">Event{{ user.events.count|pluralize:"s" }}</span>{% endif %}{% if user.events.count and user.artists.count %}<span id="comma">, </span>{% endif %}
                {% if user.artists.count %}
                  <span id="count_artists">{{ user.artists.count }}</span>
                  <span id="text_artists" class="text-muted">Artist{{ user.artists.count|pluralize:"s"}}</span>
                {% endif %}
              </div>
              {% endif %}
            </div>
          </div>
      </div>
    </div>

    <div class="row-col">
      <div class="col-lg-9 b-r no-border-md">
        <div class="padding p-y-0 m-b-md">
          <div class="nav-active-border b-primary bottom m-b-md m-t">
            <ul id="change_nav" class="nav l-h-2x" data-ui-jp="taburl">
              <li class="nav-item m-r inline">
                <a class="nav-link active" data-toggle="tab" data-target="#events">Events</a>
              </li>
              <li class="nav-item m-r inline">
                <a class="nav-link" data-toggle="tab" data-target="#artists">Artists</a>
              </li>
              <li class="nav-item m-r inline">
                <a class="nav-link" data-toggle="tab" data-target="#venues">Venues</a>
              </li>
              <li class="nav-item m-r inline">
                <a class="nav-link" data-toggle="tab" data-target="#bookmarks">Bookmarks</a>
              </li>
              <li class="nav-item m-r inline">
                <a class="nav-link" data-toggle="tab" data-target="#profile">Profile</a>
              </li>
            </ul>
          </div>
          <div class="tab-content">
            <div class="tab-pane active" id="events">
              {% include 'user/tabs/events_tab.html' %}
            </div>
            <div class="tab-pane" id="artists">
              {% include 'user/tabs/artists_tab.html' %}
            </div>
            <div class="tab-pane" id="venues">
              {% include 'user/tabs/venues_tab.html' %}
            </div>
            <div class="tab-pane" id="bookmarks">
              {% include 'user/tabs/bookmarks_tab.html' %}
            </div>
            <div class="tab-pane" id="profile">
              {% include "user/forms/update_form.html" %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
