{% load static %}

{% static 'event/images/icon.png' as icon_url %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Eventrack – Track Upcoming Live Concerts, Tour Dates and Festivals</title>
  <meta name="description" content="Artist, Event, Festivals, Live Concerts, Music, Musician, Tour Dates, Venue" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- for ios 7 style, multi-resolution icon of 152x152 -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
  <link rel="apple-touch-icon" href="{{ icon_url }}">
  <meta name="apple-mobile-web-app-title" content="Flatkit">
  <!-- for Chrome on Android, multi-resolution icon of 196x196 -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="shortcut icon" sizes="96x96" href="{{ icon_url }}">

  <!-- style -->
  <link rel="stylesheet" href="{% static 'event/css/animate.css/animate.min.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'event/css/glyphicons/glyphicons.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'event/css/font-awesome/css/font-awesome.min.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'event/css/material-design-icons/material-design-icons.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'event/css/bootstrap/dist/css/bootstrap.min.css' %}" type="text/css" />

  <!-- build:css css/styles/app.min.css -->
  <link rel="stylesheet" href="{% static 'event/css/styles/app.min.css' %}" type="text/css" />
  <!-- endbuild -->
</head>
<body class="light">

  {% block page %}
  {% endblock %}

  {% block script %}
    <script>
      var socket = new WebSocket('ws://' + window.location.host + '/');

      socket.onopen = function open() {
        console.log('WebSockets connection created.');
      };

      socket.onmessage = function message(event) {
        var data = JSON.parse(event.data);

        notify(data);
      };

      if (socket.readyState === WebSocket.OPEN) {
        socket.onopen();
      }

      function notify(data) {
        if ('Notification' in window) {
          var title = data['date'] + ' ' + data['title'],
              options = {
                "body": 'has been changed',
                "icon": "{{ icon_url|escapejs }}"
              };

          switch (Notification.permission) {
            case 'default':
              Notification.requestPermission().then(function (permission) {
                if (permission === 'granted') {
                  new Notification(title, options);
                }
              });
              break;
            case 'granted':
              new Notification(title, options);
              break;
          }
        }
      }
    </script>
  {% endblock script %}

<!-- build:js scripts/app.min.js -->
<!-- jQuery -->
  <script src="{% static 'event/libs/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap -->
  <script src="{% static 'event/libs/tether/dist/js/tether.min.js' %}"></script>
  <script src="{% static 'event/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!-- core -->
  <script src="{% static 'event/libs/jQuery-Storage-API/jquery.storageapi.min.js' %}"></script>
  <script src="{% static 'event/libs/jquery.stellar/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'event/libs/jscroll/jquery.jscroll.min.js' %}"></script>
  <script src="{% static 'event/libs/PACE/pace.min.js' %}"></script>
  <script src="{% static 'event/libs/jquery-pjax/jquery.pjax.js' %}"></script>

  <script src="{% static 'event/scripts/config.lazyload.js' %}"></script>
  <script src="{% static 'event/scripts/ui-load.js' %}"></script>
  <script src="{% static 'event/scripts/ui-jp.js' %}"></script>
  <script src="{% static 'event/scripts/ui-include.js' %}"></script>
  <script src="{% static 'event/scripts/ui-device.js' %}"></script>
  <script src="{% static 'event/scripts/ui-form.js' %}"></script>
  <script src="{% static 'event/scripts/ui-nav.js' %}"></script>
  <script src="{% static 'event/scripts/ui-scroll-to.js' %}"></script>
  <script src="{% static 'event/scripts/ui-toggle-class.js' %}"></script>
  <script src="{% static 'event/scripts/ui-taburl.js' %}"></script>
  <script src="{% static 'event/scripts/app.js' %}"></script>
  <script src="{% static 'event/scripts/ajax.js' %}"></script>
  <script src="{% static 'event/scripts/event.js' %}"></script>
<!-- endbuild -->

</body>
</html>
