<div id="delete-modal" class="modal fade animate black-overlay" data-backdrop="false">
  <div class="row-col h-v">
    <div class="row-cell v-m">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-body text-center">
            <p class="p-y m-t"><i class="fa fa-remove text-warning fa-3x"></i></p>
            <p>Are you sure to delete this item?</p>
          </div>
          <div class="modal-footer">
            <form method="post" action="">
              {% csrf_token %}
              <button type="button" class="btn btn-default p-x-md" data-dismiss="modal">No</button>
              <button type="button submit" class="btn red p-x-md">Yes</button>
            </form>
          </div>
        </div><!-- /.modal-content -->
      </div>
    </div>
  </div>
</div>