<div class="modal white lt fade" id="search-modal" data-backdrop="false">
  <a data-dismiss="modal" class="text-muted text-lg p-x modal-close-btn">&times;</a>
  <div class="row-col">
    <div class="p-a-lg h-v row-cell v-m">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <form action="{% url 'event:search' %}" method="get" class="m-b-md">
            <div class="input-group input-group-md">
              <input name="keyword" type="text" class="form-control" placeholder="Type keyword" data-ui-toggle-class="hide" data-ui-target="#search-result">
              <span class="input-group-btn">
                <button class="btn b-a no-shadow white" type="submit">Search</button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>