{% extends 'event/pages/index.html' %}
{% load static %}

{% block content %}

{% static 'event/images/a3.jpg' as default_url %}

<div class="app-body light" id="view">

<!-- ############ PAGE START-->
<div class="page-content">
  <div class="row-col">
    <div class="col-lg-9 b-r no-border-md">
      <div class="padding">
        <div class="page-title m-b">
          <h2 class="inline m-a-0">Artists</h2>
          <div class="dropdown inline">
            <button id="artist_button" class="btn btn-sm no-bg h4 m-y-0 v-b dropdown-toggle text-primary" data-toggle="dropdown">By name</button>
            <div id="artist_sort" class="dropdown-menu">
              <a id="by_name" class="dropdown-item active">
                By name
              </a>
              <a id="by_events" class="dropdown-item">
                Events
              </a>
            </div>
          </div>
        </div>
        {% if artists %}
        <div id="by_name" class="row row-lg">
          {% for artist in artists %}
            {% include "event/items/artist_item.html" with artist=artist rounded=True admin=False %}
          {% endfor %}
        </div>
        <div id="by_events" class="row row-lg modal">
          {% for artist in artists|dictsortreversed:"events.count" %}
            {% include "event/items/artist_item.html" with artist=artist rounded=True admin=False %}
          {% endfor %}
        </div>
        {% else %}
          <div>
            No artists
          </div>
        {% endif %}
        {% if is_paginated %}
          {% include "event/items/pagination_item.html" with page_obj=page_obj request=request %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
</div>

{% endblock content %}
