{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Eventrack – Track Upcoming Live Concerts, Tour Dates and Festivals</title>
  <meta name="description" content="Artist, Event, Festivals, Live Concerts, Music, Musician, Tour Dates, Venue" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- for ios 7 style, multi-resolution icon of 152x152 -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
  <link rel="apple-touch-icon" href="{% static 'event/images/icon.png' %}">
  <meta name="apple-mobile-web-app-title" content="Flatkit">
  <!-- for Chrome on Android, multi-resolution icon of 196x196 -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="shortcut icon" sizes="96x96" href="{% static 'event/images/icon.png' %}">

  <!-- style -->
  <link rel="stylesheet" href="{% static 'event/css/animate.css/animate.min.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'event/css/glyphicons/glyphicons.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'event/css/font-awesome/css/font-awesome.min.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'event/css/material-design-icons/material-design-icons.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'event/css/bootstrap/dist/css/bootstrap.min.css' %}" type="text/css" />

  <!-- build:css css/styles/app.min.css -->
  <link rel="stylesheet" href="{% static 'event/css/styles/app.min.css' %}" type="text/css" />
  <!-- endbuild -->
</head>
<body class="light">
  <div class="app dk" id="app">

<!-- ############ LAYOUT START-->

{% if not user.is_authenticated.value %}
<div id="sign-modal" class="modal fade animate black-overlay" data-backdrop="false">
  <div class="row-col h-v">
    <div class="row-cell v-m">
      <div class="modal-dialog">
        <div class="modal-content ">
          <div class="row-col">
            <a data-dismiss="modal" class="pull-right text-muted text-lg p-a-sm m-r-sm">×</a>
            <div class="p-a b-b">
              <span class="h5">
                Sign up for Eventrack
              </span>
            </div>
          </div>
          <div class="modal-body text-center">
            <p class="p-y-sm"><img src="{% static 'event/images/logo.png' %}" alt="."></p>
            <p>Join Eventrack to perform this action.</p>
          </div>
          <div class="modal-footer">
            <a href="{% url 'user:signin' %}" role="button" class="btn btn-default b-primary p-x-md">Sign in</a>
            <a href="{% url 'user:signup' %}" role="button" class="btn green p-x-md">Sign up</a>
          </div>
        </div><!-- /.modal-content -->
      </div>
    </div>
  </div>
</div>
{% endif %}

<!-- ############ SEARCH START -->
<div class="modal white lt fade" id="search-modal" data-backdrop="false">
  <a data-dismiss="modal" class="text-muted text-lg p-x modal-close-btn">&times;</a>
  <div class="row-col">
    <div class="p-a-lg h-v row-cell v-m">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <form action="{% url 'event:search' %}" method="get" class="m-b-md">
            <div class="input-group input-group-md">
              <input name="keyword" type="text" class="form-control" placeholder="Type keyword" data-ui-toggle-class="hide" data-ui-target="#search-result">
              <span class="input-group-btn">
                <button class="btn b-a no-shadow white" type="submit">Search</button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ############ SEARCH END -->

  <!-- aside -->
  <div id="aside" class="app-aside modal fade nav-dropdown">
    <!-- fluid app aside -->
    <div class="left navside white dk" data-layout="column">
      <div class="navbar no-radius">
        <!-- brand -->
        <a href="{% url 'event:index' %}" class="navbar-brand md ">
        	<img src="{% static 'event/images/logo.png' %}" alt=".">
        </a>
        <!-- / brand -->
      </div>
      <div data-flex class="hide-scroll">
          <nav class="scroll nav-stacked nav-active-primary">

            <ul id="change_menu" class="nav" data-ui-nav>
              <li class="nav-header hidden-folded">
                <span class="text-xs text-muted">Main</span>
              </li>
              <li>
                <a href="{% url 'event:index' %}">
                  <span class="nav-icon">
                    <i class="material-icons">
                      home
                    </i>
                  </span>
                  <span class="nav-text">Home</span>
                </a>
              </li>
              <li>
                <a href="{% url 'event:artist' %}">
                  <span class="nav-icon">
                    <i class="material-icons">
                      account_box
                    </i>
                  </span>
                  <span class="nav-text">Artist</span>
                </a>
              </li>
              <li>
                <a href="{% url 'event:event' %}">
                  <span class="nav-icon">
                    <i class="material-icons">
                      event_note
                    </i>
                  </span>
                  <span class="nav-text">Event</span>
                </a>
              </li>
              <li>
                <a href="{% url 'event:venue' %}">
                  <span class="nav-icon">
                    <i class="material-icons">
                      place
                    </i>
                  </span>
                  <span class="nav-text">Venue</span>
                </a>
              </li>
              <li>
                <a href="{% url 'event:search' %}" data-toggle="modal" data-target="#search-modal">
                  <span class="nav-icon">
                    <i class="material-icons">
                      search
                    </i>
                  </span>
                  <span class="nav-text">Search</span>
                </a>
              </li>

              {% if user.is_authenticated.value %}
              <li class="nav-header hidden-folded m-t">
                <span class="text-xs text-muted">Profile</span>
              </li>
              <li>
                <a href="{% url 'user:profile' %}#events">
                  {% if event_count %}
                    <span class="nav-label">
                      <b class="label">{{ event_count }}</b>
                    </span>
                  {% endif %}
                  <span class="nav-icon">
                    <i class="material-icons">
                      event
                    </i>
                  </span>
                  <span class="nav-text">Events</span>
                </a>
              </li>
              <li>
                <a href="{% url 'user:profile' %}#artists">
                  <span class="nav-icon">
                    <i class="material-icons">
                      recent_actors
                    </i>
                  </span>
                  <span class="nav-text">Artists</span>
                </a>
              </li>
              <li>
                <a href="{% url 'user:profile' %}#venues">
                  <span class="nav-icon">
                    <i class="material-icons">
                      pin_drop
                    </i>
                  </span>
                  <span class="nav-text">Venues</span>
                </a>
              </li>
              <li>
                <a href="{% url 'user:profile' %}#bookmarks">
                  <span class="nav-icon">
                    <i class="material-icons">
                      star
                    </i>
                  </span>
                  <span class="nav-text">Bookmarks</span>
                </a>
              </li>
              {% endif %}
            </ul>
          </nav>
      </div>
      {% if user.is_authenticated.value %}
        <div data-flex-no-shrink>
          <div class="nav-fold dropup">
            <a data-toggle="dropdown">
                <span class="pull-left">
                  {% if user.thumb_url %}
                    <img src="{{ user.thumb_url }}" class="w-32 img-circle">
                  {% else %}
                    <i class="material-icons md-36">account_circle</i>
                  {% endif %}
                </span>
                <span class="clear hidden-folded p-x p-y-xs">
                  <span class="block _600 text-ellipsis">
                    {% if user.first_name and user.last_name %}
                      {{ user.first_name }} {{ user.last_name }}
                    {% else %}
                      {{ user.username }}
                    {% endif %}
                  </span>
                </span>
            </a>
            {% url 'user:profile' as profile %}
            <div id="dropdown_menu" class="dropdown-menu w dropdown-menu-scale ">
              <a {% if request.path == profile%}id="change_tab"{% endif %} class="dropdown-item" href="{% url 'user:profile' %}#profile" {% if request.path == profile%}data-toggle="tab" data-target="#profile"{% endif %}>
                <span>Profile</span>
              </a>
              <a {% if request.path == profile%}id="change_tab"{% endif %} class="dropdown-item" href="{% url 'user:profile' %}#events" {% if request.path == profile%}data-toggle="tab" data-target="#events"{% endif %}>
                <span>Events</span>
              </a>
              <a {% if request.path == profile%}id="change_tab"{% endif %} class="dropdown-item" href="{% url 'user:profile' %}#artists" {% if request.path == profile%}data-toggle="tab" data-target="#artists"{% endif %}>
                <span>Artists</span>
              </a>
              <a {% if request.path == profile%}id="change_tab"{% endif %} class="dropdown-item" href="{% url 'user:profile' %}#venues" {% if request.path == profile%}data-toggle="tab" data-target="#venues"{% endif %}>
                <span>Venues</span>
              </a>
              <a {% if request.path == profile%}id="change_tab"{% endif %} class="dropdown-item" href="{% url 'user:profile' %}#bookmarks" {% if request.path == profile%}data-toggle="tab" data-target="#bookmarks"{% endif %}>
                <span>Bookmarks</span>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'user:signout' %}">Sign out</a>
            </div>
          </div>
        </div>
      {% else %}
        <div class="item-action m-b m-l">
          <a href="{% url 'user:signin' %}" class="btn btn-sm rounded white _600">Sign in</a>
          <a href="{% url 'user:signup' %}" class="btn btn-sm rounded primary _600">Sign up</a>
        </div>
      {% endif %}
    </div>
  </div>
  <!-- / -->

  <!-- content -->
  {% block menu %}
    <div id="content" class="app-content white bg box-shadow-z2" role="main">
      <div class="app-header hidden-lg-up white lt box-shadow-z1">
          <div class="navbar">
          <!-- brand -->
          <a href="{% url 'event:index' %}" class="navbar-brand md ">
            <img src="{% static 'event/images/logo.png' %}" alt=".">
          </a>
          <!-- / brand -->
          <!-- nabar right -->
          <ul class="nav navbar-nav pull-right">
            <li class="nav-item">
              <!-- Open side - Naviation on mobile -->
              <a data-toggle="modal" data-target="#aside" class="nav-link">
                <i class="material-icons">menu</i>
              </a>
              <!-- / -->
            </li>
          </ul>
          <!-- / navbar right -->
        </div>
      </div>
    {% endblock menu %}

    {% block content %}

    {% static 'event/images/a3.jpg' as default_url %}

      <div class="app-body light" id="view">

        <!-- ############ PAGE START-->

        <div class="page-content">
          {% if discover %}
            <div class="padding p-b-0">
              <div class="page-title m-b">
                <h2 class="inline m-a-0">Discover</h2>
              </div>
              <div class="row row-sm item-masonry item-info-overlay">
              {% for artist in discover %}
                <div id="artist_{{ artist.id }}" class="{% if forloop.first %}col-sm-6 text-white m-b-sm{% else %}col-sm-3 col-xs-6{% endif %}">
                  <div class="item r">
                    <div class="item-media {% if forloop.first %}primary{% endif %}">
                      <a href="{% url 'event:artist_detail' artist.id %}" class="item-media-content" style="background-image: url({% if forloop.first %}{{ artist.image_url|default:artist.thumb_url }}{% else %}{{ artist.thumb_url|default:default_url }}{% endif %});">
                        <div class="item-info">
                          <div class="item-title text-ellipsis">{{ artist.name }}</div>
                        </div>
                      </a>
                    </div>
                    <div class="item-overlay bottom text-right">
                      <a class="btn-favorite" {% if user.is_authenticated.value %}data-id="artist_{{ artist.id }}" data-url="{% url 'event:artist_bookmark' artist.id %}" {% else %}data-toggle="modal" data-target="#sign-modal"{% endif %}><i class="fa {% if artist in user.artists.all %}fa-star{% else %}fa-star-o{% endif %}"></i></a>
                    </div>
                  </div>
                </div>
              {% endfor %}
             </div>
            </div>
          {% endif %}
          <div class="row-col">
            <div class="col-lg-9 b-r no-border-md">
              <div class="padding">
                {% if trending %}
                  <h2 class="widget-title h4 m-b">Trending</h2>
                  <div class="row m-b">
                    {% for artist in trending %}
                      {% include "event/items/artist_item.html" with artist=artist rounded=False admin=False %}
                    {% endfor %}
                  </div>
                {% endif %}
                {% if recommend %}
                  <h2 class="widget-title h4 m-b m-t-md">Recommend for you</h2>
                  <div class="row item-list item-list-md m-b">
                    {% for event in recommend %}
                      {% include "event/items/event_item.html" with event=event artist=event.artists.all|first overview=True profile=True admin=False %}
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endblock content %}
    </div>
    {% if user.is_authenticated.value %}
    <!-- .modal -->
    {% if perms.delete_event or perms.delete_artist or perms.delete_venue %}
    <div id="delete-modal" class="modal fade animate black-overlay" data-backdrop="false">
      <div class="row-col h-v">
        <div class="row-cell v-m">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-body text-center">
                <p class="p-y m-t"><i class="fa fa-remove text-warning fa-3x"></i></p>
                <p>Are you sure to delete this item?</p>
              </div>
              <div class="modal-footer">
                <form method="post" action="">
                  {% csrf_token %}
                  <button type="button" class="btn btn-default p-x-md" data-dismiss="modal">No</button>
                  <button type="button submit" class="btn red p-x-md">Yes</button>
                </form>
              </div>
            </div><!-- /.modal-content -->
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <div id="modal_events" class="modal col-lg-12 text-center">
      <div class="p-a-lg">
        <h2 class="m-y-md">No {% if perms.add_event %}added {% endif %}events{% if not perms.add_event %} in bookmarks{% endif %}</h2>
        <h6 class="text-muted m-b-md">Would you like to add an event{% if not perms.add_event %} to bookmarks{% endif %}?</h6>
        <a class="btn circle btn-outline b-primary m-b-lg p-x-md" href="{% url 'event:event_add' %}">Add</a>
      </div>
    </div>
    <div id="modal_artists" class="modal col-lg-12 text-center">
      <div class="p-a-lg">
        <h2 class="m-y-md">No {% if perms.add_artist %}added {% endif %}artists{% if not perms.add_artist %} in bookmarks{% endif %}</h2>
        <h6 class="text-muted m-b-md">Would you like to add a artist{% if not perms.add_artist %} to bookmarks{% endif %}?</h6>
        <a class="btn circle btn-outline b-primary m-b-lg p-x-md" href="{% url 'event:artist_add' %}">Add</a>
      </div>
    </div>
    <div id="modal_venues" class="modal col-lg-12 text-center">
      <div class="p-a-lg">
        <h2 class="m-y-md">No {% if perms.add_venue %}added {% endif %}venues{% if not perms.add_venue %} in bookmarks{% endif %}</h2>
        <h6 class="text-muted m-b-md">Would you like to add a venue{% if not perms.add_venue %} to bookmarks{% endif %}?</h6>
        <a class="btn circle btn-outline b-primary m-b-lg p-x-md" href="{% url 'event:venue_add' %}">Add</a>
      </div>
    </div>
    <div id="bookmark_events" class="modal col-lg-12 text-center">
      <div class="p-a-xs">
        <h2 class="m-y-sm">No events in bookmarks</h2>
        <h6 class="text-muted m-b-md">Would you like to add an event to bookmarks?</h6>
        <a class="btn circle btn-outline b-primary m-b-lg p-x-md" href="{% url 'event:event' %}">Add</a>
      </div>
    </div>
    <div id="bookmark_artists" class="modal col-lg-12 text-center">
      <div class="p-a-xs">
        <h2 class="m-y-sm">No artists in bookmarks</h2>
        <h6 class="text-muted m-b-md">Would you like to add a artist to bookmarks?</h6>
        <a class="btn circle btn-outline b-primary m-b-lg p-x-md" href="{% url 'event:artist' %}">Add</a>
      </div>
    </div>
    <!-- / .modal -->
    {% endif %}
  </div>

<!-- build:js scripts/app.min.js -->
<!-- jQuery -->
  <script src="{% static 'event/libs/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap -->
  <script src="{% static 'event/libs/tether/dist/js/tether.min.js' %}"></script>
  <script src="{% static 'event/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!-- core -->
  <script src="{% static 'event/libs/jQuery-Storage-API/jquery.storageapi.min.js' %}"></script>
  <script src="{% static 'event/libs/jquery.stellar/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'event/libs/jscroll/jquery.jscroll.min.js' %}"></script>
  <script src="{% static 'event/libs/PACE/pace.min.js' %}"></script>
  <script src="{% static 'event/libs/jquery-pjax/jquery.pjax.js' %}"></script>

  <script src="{% static 'event/scripts/config.lazyload.js' %}"></script>
  <script src="{% static 'event/scripts/ui-load.js' %}"></script>
  <script src="{% static 'event/scripts/ui-jp.js' %}"></script>
  <script src="{% static 'event/scripts/ui-include.js' %}"></script>
  <script src="{% static 'event/scripts/ui-device.js' %}"></script>
  <script src="{% static 'event/scripts/ui-form.js' %}"></script>
  <script src="{% static 'event/scripts/ui-nav.js' %}"></script>
  <script src="{% static 'event/scripts/ui-scroll-to.js' %}"></script>
  <script src="{% static 'event/scripts/ui-toggle-class.js' %}"></script>
  <script src="{% static 'event/scripts/ui-taburl.js' %}"></script>
  <script src="{% static 'event/scripts/app.js' %}"></script>
  <script src="{% static 'event/scripts/ajax.js' %}"></script>
  <script src="{% static 'event/scripts/event.js' %}"></script>
<!-- endbuild -->
</body>
</html>
